<wide-header-page title="{{'Session Log' | translate}}">
  <ion-buttons slot="end">
    <ion-button filll="clear" wide-header-bar-button (click)="showWarningModal()">
      <ion-icon slot="icon-only" name="share-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <div page-content>
    <div *ngIf="filteredLogs && filteredLogs.length == 0" class="no-entries-message">
      <span translate>No entries for this log level.</span>
    </div>
    <ion-list *ngIf="filteredLogs && filteredLogs.length > 0" lines="none" class="settings-list bp-list">
      <ion-item class="log-entry">
        <div *ngIf="filteredLogs && filteredLogs.length > 0">
          <div *ngFor="let l of filteredLogs">
            <span [ngClass]="{'energized': l.level=='warn', 'royal': l.level=='debug', 'info-color': l.level=='info', 'assertive': l.level=='error'}">
              <span class="log-timestamp">[{{l.timestamp}}]</span>
              <span class="log-level">[{{l.level}}]</span> {{l.msg}}
            </span>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </div>
  <div footer-content>
    <ion-toolbar>
      <div class="filter-container">
        <div class="labels">
          <div *ngFor="let option of logOptions | keys" [ngClass]="{'info-label': option.value.weight==3}">{{option.value.label}}</div>
        </div>
        <ion-range min="1" max="4" step="1" snaps="true" ticks="true" color="primary" [(ngModel)]="filterValue" (ionChange)="setOptionSelected(filterValue)"></ion-range>
      </div>
    </ion-toolbar>
  </div>
</wide-header-page>