<ion-header [translucent]="true" class="bp-header">
  <ion-toolbar class="header" [ngClass]="{ 
    'bg-btc': coin == 'btc',
    'bg-bch': coin == 'bch',
    'bg-xec': coin == 'xec',
    'bg-xpi': coin == 'xpi',
    'bg-doge': coin == 'doge',
    'bg-ltc': coin == 'ltc',
    'add-box-shadow-scroll': isScroll
    }">
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline" defaultHref="/">
      </ion-back-button>
    </ion-buttons>

    <ion-title class="toolbar-title">
      <div [reveal-at-scroll-pos]="expandableHeader.headerHeight" [scrollArea]="scrollArea">
        {{ 'Create {coinLabel} Account' | translate: {coinLabel: coin.toUpperCase()} }}
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [forceOverscroll]="true" scrollEvents="true" #scrollArea (ionScroll)="handleScrolling($event)">
  <expandable-header [scrollArea]="scrollArea" [fadeFactor]="5" [disableFade]="true" #expandableHeader>
    <ion-toolbar class="wide-header__title" tappable>
      <expandable-header-primary class="custom-expandable-header-primary">
        {{ 'Create {coinLabel} Account' | translate: {coinLabel: coin.toUpperCase()} }}
      </expandable-header-primary>
    </ion-toolbar>
  </expandable-header>


  <form [formGroup]="createForm">
    <div class="wallet-info-container stroke-card">

      <mat-form-field appearance="outline">
        <mat-label>{{'Account name' | translate}}</mat-label>
        <input matInput type="text" formControlName="walletName" [placeholder]="'Account name' | translate">
      </mat-form-field>

      <div *ngIf="isShared">
        <mat-form-field class="your-name-mat-form-field" appearance="outline">
          <mat-label>{{'Your name' | translate}}</mat-label>
          <input matInput type="text" formControlName="myName" [placeholder]="'Your name' | translate">
        </mat-form-field>

        <div class="custom-item">
          <div class="label">{{'Required number of signatures' | translate}}</div>
          <div class="buttons-container">
            <ion-button fill="clear" class="add-button"
              (click)="set('requiredCopayers', this.createForm.value.requiredCopayers - 1)">
              -
            </ion-button>
            <div class="number-copayer">
              {{createForm.value.requiredCopayers}}
            </div>
            <ion-button fill="clear" class="add-button"
              (click)="set('requiredCopayers', this.createForm.value.requiredCopayers + 1)">
              +
            </ion-button>
          </div>
        </div>

        <div class="custom-item">
          <div class="label">{{'Total number of copayers' | translate}}</div>
          <div class="buttons-container">
            <ion-button fill="clear" class="add-button"
              (click)="set('totalCopayers', this.createForm.value.totalCopayers - 1)">
              -
            </ion-button>
            <div class="number-copayer">
              {{createForm.value.totalCopayers}}
            </div>
            <ion-button fill="clear" class="add-button"
              (click)="set('totalCopayers',this.createForm.value.totalCopayers + 1)">
              +
            </ion-button>
          </div>
        </div>

        <div class="notification-container">
          <img src="../../../../assets/img/backup-key-game/icon-notification.svg" />
          <div class="notification-content" translate>
            Multi-user account requires multiple devices to set up. It takes longer to complete but it's recommended
            security configuration for long term storage.
          </div>
        </div>
      </div>
    </div>

    <ion-button size="large" slot="start" class="advance-button" (click)="handleClickAdvanceOption()"
      [ngClass]="{'open-advance': showAdvOpts}">
      <ng-container *ngIf="!showAdvOpts; else elseBlock">
        <span>{{'Show advanced options' | translate}}</span>
        <ion-icon slot="end" src="assets/img/chevron-down-{{currentTheme}}.svg"></ion-icon>
      </ng-container>
      <ng-template #elseBlock>
        <span *ngIf="showAdvOpts">{{'Hide advanced options' | translate}}</span>
        <ion-icon slot="end" src="assets/img/chevron-up-{{currentTheme}}.svg"></ion-icon>
      </ng-template>
    </ion-button>

   
    <div class="line-divider" *ngIf="showAdvOpts"></div>

   

    <div *ngIf="showAdvOpts" class="show-advance-option stroke-card ion-padding-bottom">

      <ion-item lines="none" *ngIf="showAdvOpts && (coin === 'ltc' || coin === 'btc') && createForm.value.selectedSeed == 'new'">
        <ion-label>Segwit</ion-label>
        <ion-toggle formControlName="useNativeSegwit"></ion-toggle>
      </ion-item>
      
      <div *ngIf="showAdvOpts &&  (coin === 'ltc' || coin === 'btc') && createForm.value.selectedSeed == 'new'" class="line-divider"></div>

      <mat-form-field class="wallet-service-url-mat-form-field" appearance="outline">
        <mat-label>{{'Wallet Service URL' | translate}}</mat-label>
        <input matInput type="text" formControlName="bwsURL" [placeholder]="'Wallet Service URL' | translate">
      </mat-form-field>

      <div class="line-divider"></div>
      
      <ion-item class="wallet-key-ion-item" *ngIf="!keyId"
        [ngClass]="{'set-padding-bottom': createForm.value.selectedSeed == 'set' && !keyId}">
        <ion-label position="stacked">{{'Account key' | translate}}</ion-label>
        <ion-select okText="{{okText}}" cancelText="{{cancelText}}" formControlName="selectedSeed"
          (ionChange)="seedOptionsChange(createForm.value.selectedSeed)">
          <ion-select-option *ngFor="let opt of seedOptions" [value]="opt.id">{{opt.label}}</ion-select-option>
        </ion-select>
      </ion-item>

      <mat-form-field *ngIf="createForm.value.selectedSeed == 'set' && !keyId" appearance="outline">
        <mat-label>{{'Account recovery phrase'| translate}}</mat-label>
        <input matInput type="text" formControlName="recoveryPhrase" [placeholder]="'Account recovery phrase' | translate">
      </mat-form-field>

      <ng-container *ngIf="isEnvDev">
        <ion-item class="testnet-ion-item" [ngClass]="{'with-label': createForm.value.testnetEnabled}"
          *ngIf="createForm.value.selectedSeed == 'new'">
          <ion-label>Testnet</ion-label>
          <ion-toggle formControlName="testnetEnabled" (ionChange)="setDerivationPath()"
            [disabled]="coin == 'xec' || coin == 'xpi'"></ion-toggle>
        </ion-item>
      </ng-container>

      <label-tip *ngIf="createForm.value.testnetEnabled && createForm.value.selectedSeed == 'new'" type="warn">
        <span label-tip-title translate>Testnet Account</span>
        <div label-tip-body>
          {{ 'The testnet is an alternative {coinName} block chain, to be used for testing. Testnet coins are separate
          and distinct from actual {coinName}, and do not have any value. This allows application developers or
          {coinName} testers to experiment, without having to use real {coinName}.' | translate : {coinName: coinName}
          }}
        </div>
      </label-tip>

      <mat-form-field *ngIf="createForm.value.selectedSeed == 'set' && !keyId" appearance="outline">
        <mat-label>{{ 'Derivation path' | translate }}</mat-label>
        <input matInput type="text" formControlName="derivationPath" [placeholder]="'Derivation path' | translate">
      </mat-form-field>

      <ion-item class="option-container" [ngClass]="{'set-padding-top': !isEnvDev}"
        *ngIf="!isShared && (this.coin === 'xpi' || this.coin === 'xec')">
        <div class="option-line">
          <ion-label translate>
            eToken Path
          </ion-label>
          <ion-toggle [checked]="isSlpToken" (ionChange)="changeSlpPath($event)"></ion-toggle>
        </div>
        <div class="option-line-info" *ngIf="isSlpToken">
          <span translate>Only select path m'/44'/1899'/0 for #Saving4Lotus or #Hold2Earn programs</span>
        </div>
      </ion-item>

      <ion-item lines="none" class="option-container" *ngIf="!isSingleAddress()"
        [ngClass]="{'with-label': createForm.value.singleAddress}">
        <div class="option-line">
          <p>{{ 'Single Address' | translate }}</p>
          <ion-toggle [disabled]="isSlpToken" [checked]="isSlpToken" formControlName="singleAddress"></ion-toggle>
        </div>
        <div class="option-line-info" *ngIf="createForm.value.singleAddress">
          <span translate>The single address feature will force the account to only use one address rather than
            generating new addresses.</span>
          <br>
          <a class="label-tip-link" (click)="openSupportSingleAddress()" translate>Learn More</a>
        </div>
      </ion-item>
    </div>
  </form>
</ion-content>


<ion-footer class="ion-no-border footer">
  <ion-toolbar>
    <ion-button class="button-standard" (click)="setOptsAndCreate()" [disabled]="!createForm.valid" translate>Create account
    </ion-button>
  </ion-toolbar>
</ion-footer>