
page-settings {
  ion-header {
    ion-toolbar {
      ion-title {
        display: flex !important;
      }
    }
  }
  ion-list {
    margin-bottom: 3rem;
    ion-item-divider {
      &:first-child {
        padding-top: 1.5rem !important;
      }
    }
  }
  .create-button {
    background: white;
    margin-left: -12px;
    text-align: center;
  }
}

