<ion-header [translucent]="true" class="bp-header">
  <ion-toolbar class="toolbar-desktop" translucent *ngIf="!this.platformProvider.isCordova">
    <div class="header-container-desktop">
      <img class="logo-abcpay" src="../../../assets/img/abcpay-logo.svg" alt="">
      <img src="../../../assets/img/abcpay-text.svg" alt="">
    </div>
  </ion-toolbar>
  <ion-toolbar [ngClass]="{'add-box-shadow-scroll': isScroll}">
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline" defaultHref="tabs/wallets"></ion-back-button>
    </ion-buttons>
    <ion-title [reveal-at-scroll-pos]="expandableHeader.headerHeight" [scrollArea]="scrollArea">
        {{ 'Settings' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [forceOverscroll]="true" scrollEvents="true" #scrollArea (ionScroll)="handleScrolling($event)">
  <div class="wrapper">
    <expandable-header [scrollArea]="scrollArea" [fadeFactor]="5" [disableFade]="true" #expandableHeader>
      <ion-toolbar class="wide-header__title">
        <expandable-header-primary>
          {{ 'Settings' | translate }}
        </expandable-header-primary>
      </ion-toolbar>
    </expandable-header>

    <ion-list class="settings-list bp-list">
      <ion-item-divider class="item-end" button (click)="mdesFlag()"> 
        <ion-label>
          {{ 'General' | translate }}
        </ion-label>
      </ion-item-divider>

      <ion-item button (click)="openWhatsNew()" *ngIf="featureList && featureList.features.length > 0">
        <ion-label translate>
          What's new
        </ion-label>
        <ion-note slot="end">
          {{appVersion}}
        </ion-note>
      </ion-item>
      
      <ion-item button (click)="openThemePage()">
        <ion-label>
          {{ 'Theme' | translate }}
        </ion-label>
        <ion-note *ngIf="appTheme" slot="end" translate>
          {{ appTheme }}
        </ion-note>
      </ion-item>

      <ion-item button (click)="openNavigationPage()" *ngIf="isCordova">
        <ion-label>
          {{ 'Navigation' | translate }}
        </ion-label>
        <ion-note *ngIf="navigation" slot="end">
          {{ navigation }}
        </ion-note>
      </ion-item>

      <ion-item button (click)="openAltCurrencyPage()">
        <ion-label>
          {{ 'Display Currency' | translate }}
        </ion-label>
        <ion-note *ngIf="selectedAlternative" slot="end">
          {{ selectedAlternative.name }}
        </ion-note>
      </ion-item>

      <ion-item button (click)="openLanguagePage()">
        <ion-label>
          {{ 'Language' | translate }}
        </ion-label>
        <ion-note *ngIf="currentLanguageName" slot="end">
          {{ currentLanguageName | translate }}
        </ion-note>
      </ion-item>

      <ion-item button *ngIf="isCordova" (click)="openLockPage()">
        <ion-label>
          {{ 'Lock App' | translate }}
        </ion-label>
        <ion-note *ngIf="lockMethod === 'disabled'" slot="end">
          {{ 'Disabled' | translate }}
        </ion-note>
        <ion-note *ngIf="lockMethod === 'pin'" slot="end">
          {{ 'PIN' | translate }}
        </ion-note>
        <ion-note *ngIf="lockMethod === 'fingerprint'" slot="end">
          {{ 'Biometric' | translate }}
        </ion-note>
      </ion-item>
      <ion-item class="item-end">
        <ion-label>
          {{ 'Show Portfolio Value' | translate }}
        </ion-label>
        <ion-toggle slot="end" [(ngModel)]="showTotalBalance" (ionChange)="toggleShowBalanceFlag()"></ion-toggle>
      </ion-item>
      
      <ion-item-divider class="item-end" *ngIf="walletsGroups && walletsGroups[0]">
        <ion-label>
          {{ 'Your Keys' | translate }}
        </ion-label>
      </ion-item-divider>

      <ion-item button *ngFor="let walletsGroup of walletsGroups; let i = index" (click)="openWalletGroupSettings(walletsGroup[0].keyId)">
        <ion-label>
          {{profileProvider.getWalletGroup(walletsGroup[0].keyId).name}}
        </ion-label>
        <ion-note *ngIf="walletsGroup.length == 1" slot="end">
          {{'{walletsGroupLength} Account' | translate:{walletsGroupLength: walletsGroup.length} }}
        </ion-note>
        <ion-note *ngIf="walletsGroup.length > 1" slot="end">
          {{'{walletsGroupLength} Accounts' | translate:{walletsGroupLength: walletsGroup.length} }}
        </ion-note>
      </ion-item>

      <ion-item button (click)="openWalletGroupSettings(readOnlyWalletsGroup[0].keyId)" *ngIf="readOnlyWalletsGroup && readOnlyWalletsGroup.length > 0">
        <ion-label>
          {{'Read Only' | translate}}
        </ion-label>
        <ion-note *ngIf="readOnlyWalletsGroup.length == 1" slot="end">
          {{'{walletsGroupLength} Account' | translate:{walletsGroupLength: readOnlyWalletsGroup.length} }}
        </ion-note>
        <ion-note *ngIf="readOnlyWalletsGroup.length > 1" slot="end">
          {{'{walletsGroupLength} Accounts' | translate:{walletsGroupLength: readOnlyWalletsGroup.length} }}
        </ion-note>
      </ion-item>

      <ion-item button class="create-button ion-text-start ion-justify-content-start item-end" *ngIf="walletsGroups && walletsGroups[0]" (click)="goToAddView()">
        <ion-label>
          {{ 'Create or Import a Key' | translate }}
        </ion-label>
      </ion-item>

      <ion-item-divider class="item-end" button (click)="mdesCertOnlyFlag()">
        <ion-label>
          {{ 'Other' | translate }}
        </ion-label>
      </ion-item-divider>

      <ion-item button (click)="openAddressBookPage()">
        <ion-label>
          {{'Address Book' | translate}}
        </ion-label>
      </ion-item>

      <ion-item button (click)="openFeePolicyPage()">
        <ion-label>
          {{'Network Fee Policies' | translate}}
        </ion-label>
      </ion-item>

      <ion-item button (click)="openAdvancedPage()">
        <ion-label>
          {{'Advanced' | translate}}
        </ion-label>
      </ion-item>

      <ion-item button (click)="openHelpExternal()">
        <ion-label translate>
          Help &amp; Support
        </ion-label>
      </ion-item>

      <ion-item class="item-end" button (click)="openAboutPage()">
        <ion-label>
          {{'About {appName}' | translate: {appName: appName} }} 
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
