<wide-header-page [hideToolbar]="true" [hasSlideButton]="txpsToSign[0]">
  <div page-content>
    <ion-list class="content-list" *ngIf="txpsPending[0] || txpsAccepted[0] || txpsRejected[0]; else noNotification">
      <div class="wallet-card-container" *ngFor="let txpsByStatus of allTxps">
        <ion-item-divider *ngIf="txpsByStatus.data && txpsByStatus.data[0]" class="item-divider-header">
          <span class="ellipsis">{{txpsByStatus.title | uppercase}}</span>
        </ion-item-divider>
        <ng-container *ngFor="let txpsByWallet of txpsByStatus.data; let i = index">
          <div *ngIf="txpsByWallet.walletId && txpsByWallet.txps && txpsByWallet.txps[0] && txpsByWallet.txps[0].wallet"
            class="wallet-card-content-container">
            <ion-item class="recipient">
              <img class="item-img wallet icon-wallet"
                [ngClass]="{ testnet: txpsByWallet.txps[0].wallet.network === 'testnet' }"
                src="assets/img/currencies/{{txpsByWallet.txps[0].wallet.coin}}.svg" slot="start">
              <ion-label>
                <span class="ellipsis wallet-name-label">{{txpsByWallet.txps[0].wallet.name}}
                  ({{txpsByWallet.txps[0].wallet.m}} - {{txpsByWallet.txps[0].wallet.n}})</span>
              </ion-label>
              <ion-note *ngIf="txpsByStatus.type == 'pending' && txpsByWallet.canSign" slot="end" class="ion-text-end">
                <div class="select-all" *ngIf="txpsByWallet.multipleSignAvailable && !walletIdSelectedToSign">
                  <div class="multi-sign close" (click)="signMultipleProposals(txpsByWallet)">
                    <ion-icon name="list-outline"></ion-icon>
                  </div>
                </div>
                <div class="select-all"
                  *ngIf="walletIdSelectedToSign && txpsByWallet.walletId == walletIdSelectedToSign">
                  <div class="multi-sign" (click)="selectAll(txpsByWallet)">
                    <ion-icon name="checkmark-done-outline"></ion-icon>
                  </div>
                  <div class="multi-sign close" (click)="signMultipleProposals(txpsByWallet)">
                    <ion-icon color="dark" name="close-outline"></ion-icon>
                  </div>
                </div>
              </ion-note>
              <ion-note *ngIf="txpsByStatus.type != 'pending'" slot="end" class="ion-text-end">
                <img *ngIf="txpsByStatus.type == 'accepted'" src="assets/img/proposals-notifications/approve.svg" />
                <img *ngIf="txpsByStatus.type == 'rejected'" src="assets/img/proposals-notifications/reject.svg" />
              </ion-note>
            </ion-item>
            <div class="txp-container" *ngFor="let txp of txpsByWallet.txps">
              <ion-checkbox (ionChange)="txpSelectionChange(txp)"
                *ngIf="walletIdSelectedToSign && txp.walletId == walletIdSelectedToSign && txp.statusForUs === 'pending'"
                [(ngModel)]="txp.checked"></ion-checkbox>
              <page-txp
                [ngClass]="{'with-checkbox': walletIdSelectedToSign && txp.walletId == walletIdSelectedToSign && txp.statusForUs === 'pending'}"
                [tx]="txp" [addressbook]="addressbook"
                [noOpenModal]="walletIdSelectedToSign && txp.walletId == walletIdSelectedToSign && txp.statusForUs === 'pending'">
              </page-txp>
            </div>
          </div>
        </ng-container>
      </div>
    </ion-list>
    <ng-template #noNotification>
      <div class="no-info-container">
        <img src="assets/img/EmptyNotification-{{currentTheme}}.svg">
        <div class="content">{{'No notifications' | translate}}</div>
      </div>
    </ng-template>
  </div>
</wide-header-page>
<ion-footer>
  <page-slide-to-accept #slideButton *ngIf="isCordova && txpsToSign[0]" [buttonText]="buttonText" (slideDone)="sign()">
  </page-slide-to-accept>
  <ion-toolbar *ngIf="!isCordova && txpsToSign[0]">
    <ion-button expand="full" class="button-footer" (click)="sign()">{{buttonText}}</ion-button>
  </ion-toolbar>
</ion-footer>