<ion-header class="ion-no-border">
  <ion-toolbar class="toolbar-desktop" translucent *ngIf="!this.platformProvider.isCordova">
    <div class="header-container-desktop">
      <img class="logo-abcpay" src="../../../assets/img/abcpay-logo.svg" alt="">
      <img src="../../../assets/img/abcpay-text.svg" alt="">
    </div>
  </ion-toolbar>
  <ion-toolbar [hideBackButton]="true" transparent></ion-toolbar>
</ion-header>

<ion-content forceOverflow="false">
  <div class="recovery-key">
    <div class="recovery-key-info">
      <div class="img-container">
        <img src="assets/img/onboarding/backup-recovery-{{themeCurrent}}.svg" />
      </div>
      <div class="info">
        <h3 class="title">{{'Backup recovery phrase' | translate}}</h3>
        <div class="text">
          <p>{{'You will now be shown a recovery phrase which is very important. If you write down and store it safely, you will always be able to recover your accounts.' | translate}} </p>
          <p>{{'You can choose to back up your recovery phrase now or later in the account settings.' | translate}}</p></div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button class="button-standard" (click)="goToBackupKey()">
      Back up my phrase 
    </ion-button>
  </ion-toolbar>
</ion-footer>