<wide-header-page hideToolbar="true" hideBackButton="true">
  <ion-buttons slot="start">
    <ion-button class="disable-hover" (click)="close()">
      <ion-icon class="custom-icon" src="assets/img/close-{{currentTheme}}.svg"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-button class="disable-hover" (click)="close()">
      <ion-icon class="custom-icon" src="assets/img/share-{{currentTheme}}.svg"></ion-icon>
    </ion-button>
  </ion-buttons>
  <div page-content>
    <ion-list lines="none" *ngIf="btx" class="bp-list tx-detail-list stroke-card">
      <ion-item class="amount-item">
        <div class="header-container">
          <ng-container *ngIf="!btx.tokenId">
            <div class="amount-label" *ngIf="!(btx.amount === 0 && wallet.coin === 'eth')">
              <div *ngIf="isNegative" class="amount negative-amount">
                -{{btx.amountValueStr}} {{btx.amountUnitStr | uppercase}}
              </div>
              <div *ngIf="!isNegative" class="amount">
                +{{btx.amountValueStr}} {{btx.amountUnitStr | uppercase}}
              </div>
              <div class="alternative">
                <span *ngIf="!btx.fiatRateStr">...</span>
                <span *ngIf="btx.fiatRateStr">{{btx.fiatRateStr}}</span>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="btx.tokenId">
            <div class="amount-label" *ngIf="!(btx.amountToken === 0 )">
              <div *ngIf="isNegative" class="amount negative-amount">
                - {{btx.amountToken}} {{btx.symbolToken}}
              </div>
              <div *ngIf="!isNegative" class="amount">
                + {{btx.amountToken}} {{btx.symbolToken}}
              </div>
              <div class="alternative">
                <span *ngIf="!btx.fiatRateStr">...</span>
                <span>{{fiatRateStrToken}}</span>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="btx.action === 'sent' || btx.action === 'received'">
            <!-- TODO language translate: Send back is ok but not affect Send again translated-->
            <ion-button fill="outline" class="btn-custom" (click)="sendBack(btx)">
              {{ (btx.action === 'sent' ? 'Send again' : 'Send back') | translate}}
            </ion-button>
          </ng-container>
          <div class="sending-label" *ngIf="btx.amount === 0 && wallet.coin === 'eth'">
            <span>{{'Interaction with contract' | translate}}</span>
          </div>
        </div>
      </ion-item>
      <div class="line-divider"></div>
      <label-tip class="low-fees" type="warn"
        *ngIf="wallet.coin === 'btc' && btx.action == 'received' && btx.lowAmount">
        <span label-tip-title translate>Amount Too Low To Spend</span>
        <div label-tip-body translate>
          This transaction amount is too small compared to current Bitcoin network fees. Spending these funds will need
          a Bitcoin network fee cost comparable to the funds itself.
          <br>
          <a class="label-tip-link" (click)="readMore()" translate>Learn More</a>
        </div>
      </label-tip>
      <ion-item *ngIf="btx && btx.feeStr && btx.action != 'received'">
        <ion-label slot="start" class="ion-text-wrap ion-align-self-start">
          <div class="summary-item">
            <span translate>Miner fee</span>
          </div>
        </ion-label>
        <ion-note class="ion-text-end" slot="end">
          <div class="summary-item-detail">
            {{btx.feeStr}}
          </div>
          <div class="secondary-note fee-details" *ngIf="!btx.tokenId">
            {{btx.feeFiatStr}}
            <span *ngIf="btx.feeRateStr">
              &middot;
              <span>
                <span *ngIf="btx.feeRateStr">{{btx.feeRateStr}}
                  <span translate> of total amount</span>
                </span>
              </span>
            </span>
          </div>
        </ion-note>
      </ion-item>

      <ion-item *ngIf="btx.action == 'received' && btx.inputAddresses && btx.inputAddresses.length > 0 ">
        <ion-label slot="start">
          <div class="summary-item">
            <span translate>Send from</span>
          </div>
        </ion-label>
        <ion-note class="secondary-note address-custom-letter-spacing" slot="end">
          <div class="ellipsis" copy-to-clipboard="{{btx.inputAddresses[0]}}">
            <span *ngIf="addressbook && getContactName(btx.inputAddresses[0]) ; else address">
              {{ getContactName(btx.inputAddresses[0]) }}
            </span>
            <ng-template #address>
              <span>{{ btx.inputAddresses[0].slice(-8) }}</span>
            </ng-template>
          </div>
        </ion-note>
      </ion-item>

      <label-tip *ngIf="btx.action == 'received' && btx.lowFees" type="danger">
        <span label-tip-title translate>Low Fee</span>
        <div label-tip-body translate>
          This transaction could take a long time to confirm or could be dropped due to the low fees set by the sender.
        </div>
      </label-tip>

      <div class="line-divider" *ngIf="btx.action === 'sent'"></div>

      <page-multiple-outputs *ngIf="btx.action === 'sent'" [tx]="btx" (openBlockChainEvent)="viewOnBlockchain()">
      </page-multiple-outputs>

      <div class="line-divider" *ngIf="btx.creatorName && isShared"></div>

      <ion-item *ngIf="btx.creatorName && isShared">
        <ion-label slot="start">
          <div class="summary-item">
            <span translate>Created by</span>
          </div>
        </ion-label>
        <ion-note slot="end">
          <span class="ellipsis summary-item-detail">{{btx.creatorName}}</span>
        </ion-note>
      </ion-item>

      <div class="line-divider"></div>

      <ion-item>
        <ion-label slot="start">
          <div class="summary-item">
            <span translate>Date</span>
          </div>
        </ion-label>
        <ion-note slot="end">
          <span class="ellipsis summary-item-detail">
            <time>{{ (btx.ts || btx.createdOn || btx.time) * 1000 | amDateFormat:'MM/DD/YYYY hh:mm a'}}</time>
          </span>
        </ion-note>
      </ion-item>

      <div class="line-divider" *ngIf="btx.nonce"></div>

      <ion-item *ngIf="btx.nonce">
        <ion-label slot="start">
          <div class="summary-item">
            <span translate>Nonce</span>
          </div>
        </ion-label>
        <ion-note slot="end">
          <div class="summary-item-detail">
            {{btx.nonce}}
          </div>
        </ion-note>
      </ion-item>

      <div class="line-divider"></div>

      <ion-item>
        <ion-label slot="start" class="ion-align-self-start">
          <div class="summary-item">
            <span translate>Confirmations</span>
          </div>
        </ion-label>
        <ion-note slot="end">
          <div class="summary-item-detail" *ngIf="!btx.confirmations || btx.confirmations == 0" translate>
            Unconfirmed
          </div>
          <div class="secondary-note fee-details" translate>
            <span *ngIf="btx.feeRate">
              <span translate>Fee rate</span>:
              {{btx.feeRate}}
            </span>
          </div>
          <span class="ellipsis summary-item-detail" *ngIf="btx.confirmations>0 && !btx.safeConfirmed">
            {{btx.confirmations}}
          </span>
          <span class="ellipsis summary-item-detail" *ngIf="btx.safeConfirmed">
            {{btx.safeConfirmed}}
          </span>
        </ion-note>
      </ion-item>

      <div class="line-divider"></div>

      <ion-item class="memo-custom">
        <ion-label slot="start" class="summary-item">
          {{'Memo' | translate}}
        </ion-label>
        <ion-textarea slot="end" class="ion-text-left summary-item-detail"
          placeholder="{{'Enter a transaction memo' | translate}}" (ionBlur)="saveMemoInfo()" [(ngModel)]="txMemo"
          name="tx.description" autocomplete="off" autocorrect="off"></ion-textarea>
      </ion-item>

      <div class="line-divider"></div>

      <ion-item>
        <ion-label slot="start">
          <div class="summary-item">
            <span translate>Transaction ID</span>
          </div>
        </ion-label>
        <ion-note slot="end" copy-to-clipboard="{{ btx.txid }}">
          <span class="ellipsis summary-item-detail">
            <time>{{ btx.txid }}</time>
          </span>
        </ion-note>
      </ion-item>

      <ion-item *ngIf="txsUnsubscribedForNotifications">
        <ion-label>{{'Notify me if confirmed' | translate}}</ion-label>
        <ion-toggle checked="false" *ngIf="!btx.confirmations || btx.confirmations == 0"
          [(ngModel)]="txNotification.value" (ionChange)="txConfirmNotificationChange()"></ion-toggle>
      </ion-item>


    </ion-list>

    <ion-item detail="false" class="timeline-container" lines="none"
      *ngIf="actionList && actionList[0] && !wallet.credentials.multisigEthInfo">
      <div class="timeline-cover" style="width: 100%;">
        <span class="timeline-header">{{'Timeline' | translate}}</span>
        <div class="timeline-item"
          [ngClass]="{'action-created' : a.type == 'created' || a.type == 'accept', 'action-rejected' : a.type == 'reject'}"
          *ngFor="let a of actionList; let i = index">
          <div class="timeline-content">
            <div class="timeline-content-icon">
              <div class="rejected" *ngIf="a.type == 'failed'"></div>
              <div class="line" *ngIf="a.type === 'reject'">
                <img src="assets/img/txp-details/rejected-{{currentTheme}}.svg">
              </div>
              <div class="line" *ngIf="a.type === 'accept'">
                <img src="assets/img/txp-details/accepted-{{currentTheme}}.svg">
              </div>
              <div class="line" *ngIf="a.type === 'created'">
                <img src="assets/img/txp-details/created-{{currentTheme}}.svg">
              </div>
              <div class="line" *ngIf="a.type === 'broadcasted'">
                <img src="assets/img/icon-broadcasted.svg">
              </div>
            </div>
            <div class="timeline-content-label">
              <div class="action ellipsis">{{a.description}}</div>
              <div class="name ellipsis">{{a.by}}</div>
            </div>
            <ion-note class="ellipsis">
              <time *ngIf="a.time">{{ converDate(a.time * 1000) | amTimeAgo}}</time>
            </ion-note>
          </div>
        </div>
      </div>
    </ion-item>


    <ion-row class="ion-justify-content-center">
      <ion-button class="view-blockchain-button" fill="clear" (click)="viewOnBlockchain()">
        {{'View on blockchain' | translate}}
      </ion-button>
    </ion-row>
  </div>
</wide-header-page>