wallet-detail-card {
  width: 100%;
  .wallet-detail-card-container {
    border-radius: 18px;
    background: none;
  }
  .wallet-card {
    width: 100%;
    border-radius: 16px;
    color: #edeff0;
    .wallet-card-header {
      display: flex;
      justify-content: space-between;
      padding: 18px 20px;
      .wallet-icon {
        display: flex;
        align-items: center;
        .icon {
          position: relative;
          margin-top: 6px;
          img {
            width: 40px;
            height: 40px;
          }
          .audit {
            width: 16px;
            height: 16px;
            position: absolute;
            bottom: 5px;
            right: 0;
          }
        }
        .wallet-name {
          margin-left: 0.5rem;
          max-width: 240px;
          p {
            margin: 0;
            font-size: 16px;
            font-weight: 600;
          }
          img {
            width: 20px;
            height: 20px;
          }
          .wallet-info {
            display: flex;
            align-items: baseline;
            .audit-table {
              margin-top: 5px;
              background: rgba(0, 30, 46, 0.24);
              padding: 0 4px;
              color: rgba(237, 239, 240, 0.6);
              border-radius: 6px;
              font-size: 12px;
              letter-spacing: 0.4px;
              margin-right: 5px;
            }
            .secondary-label {
              margin-top: 5px;
              display: flex;
              align-items: center;
              background: rgba(0, 30, 46, 0.24);
              color: rgba(237, 239, 240, 0.6);
              padding: 0 4px;
              border-radius: 6px;
              font-size: 12px;
              letter-spacing: 0.4px;
              img {
                margin-left: 5px;
                width: 16px !important;
                height: 16px !important;
              }
            }
          }
          .input-edit-account-name {
            --padding-end: 0.5rem;
            --padding-top: 0;
            --padding-bottom: 5px;
            border-bottom: 1px solid var(--color-primary);
            width: 165px;
          }
        }
        .edit-account-name {
          ion-button {
            --padding-start: 0.5rem;
            margin: 0 !important;
            &.btn-done-edit {
              --color: var(--color-primary);
            }
          }
        }
      }
      .ngx-qrcode-address {
        opacity: 0.5;
        width: 55px !important;
        height: 40px !important;
        img {
          border-radius: 8px;
        }
      }
    }
    .balance-content {
      padding: 20px;
      padding-top: 0;
      display: flex;
      justify-content: space-between;
      width: 100%;
      flex-flow: column;
      .eye {
        margin-left: 0;
        margin-left: 4px;
        width: 20px;
        height: 20px;
        opacity: 0.6;
      }
      balance-to-show {
        font-weight: 600;
        font-size: 28px;
        .unit {
          font-size: 16px;
          font-weight: 600;
          margin-top: 0px;
          opacity: 0.6 !important;
          margin-left: 4px;
        }
      }
      .balance-str {
        cursor: pointer;
        font-size: 38px;
        font-weight: 500;
        display: flex;
        align-items: center;
        img {
          margin-left: 6px;
        }
      }

      .balance-alt-str {
        padding-top: 0.5rem;
        font-size: 16px;
        font-weight: 600;
        opacity: 0.6 !important;
        line-height: 24px;
      }

      &.balance-content-home-card {
        padding-bottom: 10px;
        .balance-alt-str {
          padding-top: 4px;
          font-size: 12px !important;
          letter-spacing: 0.4px;
        }
        balance-to-show {
          .amount {
            font-size: 18px;
            font-weight: 400;
            letter-spacing: 0.5px;
          }
        }
      }
    }
    &.bg {
      &-btc {
        background: url(../../../assets/img/wallet-details/bg-btc.svg) no-repeat;
        background-size: cover;
      }
      &-bch {
        background: url(../../../assets/img/wallet-details/bg-bch.svg) no-repeat;
        background-size: cover !important;
        background-position: center !important;
        &.card-home {
          background: url(../../../assets/img/wallet-details/bch-home-bg.svg) no-repeat;
        }
      }
      &-xec {
        background: url(../../../assets/img/wallet-details/bg-xec.svg) no-repeat;
        background-size: cover !important;
        background-position: center !important;
        &.card-home {
          background: url(../../../assets/img/wallet-details/xec-home-bg.svg) no-repeat;
        }
      }
      &-xpi {
        background: url(../../../assets/img/wallet-details/bg-xpi.svg) no-repeat;
        background-size: cover !important;
        background-position: center !important;
        &.card-home {
          background: url(../../../assets/img/wallet-details/xpi-home-bg.svg) no-repeat;
        }
      }
      &-doge {
        background: url(../../../assets/img/wallet-details/bg-doge.svg)
          no-repeat;
        background-size: cover !important;
        background-position: center !important;
        &.card-home {
          background: url(../../../assets/img/wallet-details/doge-home-bg.svg) no-repeat;
        }
      }
      &-ltc {
        background: url(../../../assets/img/wallet-details/bg-ltc.svg) no-repeat;
        background-size: cover !important;
        background-position: center !important;
        &.card-home {
          background: url(../../../assets/img/wallet-details/ltc-home-bg.svg) no-repeat;
        }
      }
      &-bcPro {
        background: url(../../../assets/img/wallet-details/bg-xec.svg) no-repeat;
        background-size: cover !important;
        background-position: center !important;
        &.card-home {
          background: url(../../../assets/img/wallet-details/xec-home-bg.svg) no-repeat;
        }
      }
      &-EAT {
        background: url(../../../assets/img/wallet-details/bg-xec.svg) no-repeat;
        background-size: cover !important;
        background-position: center !important;
        &.card-home {
          background: url(../../../assets/img/wallet-details/xec-home-bg.svg) no-repeat;
        }
      }
      &-ABCSLP {
        background: url(../../../assets/img/wallet-details/bg-xec.svg) no-repeat;
        background-size: cover;
        background-position: center;
        &.card-home {
          background: url(../../../assets/img/wallet-details/xec-home-bg.svg) no-repeat;
        }
      }
      &-DoC {
        background: url(../../../assets/img/wallet-details/bg-xec.svg) no-repeat;
        background-size: cover !important;
        background-position: center !important;
        &.card-home {
          background: url(../../../assets/img/wallet-details/xec-home-bg.svg) no-repeat;
        }
      }
      &-default {
        background: url(../../../assets/img/wallet-details/bg-xec.svg) no-repeat;
        background-size: cover !important;
        background-position: center !important;
        &.card-home {
          background: url(../../../assets/img/wallet-details/xec-home-bg.svg) no-repeat;
        }
      }
    }
  }

  .wallet-address {
    text-align: end;
    background: linear-gradient(270deg, rgba(0, 30, 46, 0.24) 2.04%, rgba(0, 30, 46, 0) 100%);
    border-radius: 8px 8px 16px 16px;
    padding: 5px 20px 5px 8px;
    &.wallet-address-home-card {
      display: flex;
      justify-content: space-between;
      padding: 4px 20px;
      .btn-send {
        --padding-end: 0;
        height: fit-content;
        color: white !important;
        font-size: 14px;
        letter-spacing: 0.25px;
      }
    }
    .wallet-add {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-size: 12px;
      color: rgba(237, 239, 240, 0.6);
      letter-spacing: 0.4px;
      margin: 0;
      font-weight: 500;
      span {
        margin-left: 5px;
      }
      .addr-update {
        margin-left: 18px;
      }
    }
    ion-icon {
      color: #edeff0;
      width: 12px;
      height: 12px;
      &.icon-refresh {
        width: 20px;
        height: 20px;
      }
    }
    .addr-update {
      --padding-start: 0;
      --padding-end: 0;
      width: 20px;
      height: 20px;
      margin: 0;
      .spin-backwards {
        animation: spin-backwards 0.5s ease-out 1;
      }
      @keyframes spin-backwards {
        from {
          transform: rotate(210deg);
        }
        to {
          transform: rotate(-360deg);
        }
      }
      .fade-in-out {
        opacity: 0.1;
      }
      @keyframes bounce-down {
        0% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(15%);
        }
        100% {
          transform: translateY(0);
        }
      }
      
      .spin-icon {
        height: 18px;
      }
      .spinner {
        float: right;
        padding-bottom: 0px;
        border: 1px solid orange;
        border-top: 1px solid red;
        border-radius: 50%;
        width: 18px;
        height: 18px;
        margin: 2px;
        color: red;
        background-color: red;
      }
      .spin-fast {
        animation: spin-fast 0.3s linear infinite;
      }
      @keyframes spin-fast {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
    }
  }

  .wallet-setting {
    display: flex;
    margin-left: 5px;
    ion-icon {
      width: 16px;
      height: 16px;
    }
  }

  @media screen and (max-width: 375px) {
    .wallet-name {
      max-width: 175px !important;
    }
    .btn-edit-name {
      --padding-end: 0 !important;
      --padding-start: 0 !important;
    }
  }

  .wallet-info-is-show {
    align-self: flex-start;
    position: relative;
    top: -5px;
    .btn-done-edit {
      margin-top: 5px !important;
      height: 20px;
    }
    .btn-edit-name {
      height: 18px;
    }
    img {
      width: 44px !important;
      height: 44px !important;
    }
  }

  ion-item-sliding {
    &.slide-item-mobile {
      width: calc(100% + 1px);
    }
    ion-item {
      --background: none !important;
      --padding-start: 0;
      --inner-padding-end: 0;
    }


    &.item-sliding-active-slide {
      ion-item {
        .wallet-card {
          box-shadow: none !important;
        }
      }
    }

    ion-item-options {
      border: 0 !important;
      ion-item-option {
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
        &.btn-add-to-home {
          --background: #30885a;
        }
        &.btn-remove-out-home {
          --background: #677A87;
        }
        &.ion-activated {
          --background: none;
          background: none;
        }
      }
    }
  }
}
