<div class="wallet-detail-card-container" #itemWallet>
  <ng-container *ngIf="!isToken;else tokenCard">
    <ion-item-sliding (ionDrag)="handleOnDrag()" [disabled]="flagAllItemRemove" [ngClass]="{'slide-item-mobile' : platformProvider.isCordova}" #slidingItem>
      <ion-item lines="none">
        <div class="wallet-card" [ngClass]="{ 
          'bg-bch': wallet.coin == 'bch',
          'bg-xec': wallet.coin == 'xec',
          'bg-xpi': wallet.coin == 'xpi',
          'bg-doge': wallet.coin == 'doge',
          'bg-ltc': wallet.coin == 'ltc',
          'bg-btc': wallet.coin == 'btc',
          'card-home': isHomeCard
          }">
          <div class="wallet-card-header">
            <div [ngClass]="{'wallet-info-is-show': (wallet?.cachedStatus && wallet?.cachedStatus.wallet && wallet?.cachedStatus.wallet?.singleAddress && isUtxoCoin()) || (wallet?.credentials?.n > 1 || (!wallet?.credentials?.n && wallet?.n > 1) || !wallet?.isComplete() || (wallet?.isComplete() && wallet?.needsBackup))}"
            class="wallet-icon" (click)="isHomeCard ? goToAccountDetail() : ''">
              <div class="icon">
                <img src="assets/img/currencies/{{wallet.coin}}.svg" alt="">
              </div>
              <div (clickOutside)="onClickOutSide($event)" class="wallet-name">
                <p *ngIf="!isEditNameFlag" class="name">{{wallet?.name}}</p>
                <ion-input [autofocus]="true" class="input-edit-account-name" *ngIf="isEditNameFlag" [(ngModel)]="wallet.name"></ion-input>
                <div class="wallet-info">
                  <span
                    *ngIf="wallet?.cachedStatus && wallet?.cachedStatus.wallet && wallet?.cachedStatus.wallet?.singleAddress && isUtxoCoin()"
                    class="audit-table">Auditable</span>
                  <div (click)="goToMultisignInfo()"
                    *ngIf="wallet?.credentials?.n > 1 || (!wallet?.credentials?.n && wallet?.n > 1) || !wallet?.isComplete() || (wallet?.isComplete() && wallet?.needsBackup)"
                    class="secondary-label">
                    <span class="secondary-label-multisign" *ngIf="wallet?.credentials?.n > 1">Multisig {{
                      wallet?.credentials?.m }}-{{ wallet?.credentials?.n }}</span>
                    <span class="secondary-label-multisign" *ngIf="!wallet?.credentials?.n && wallet?.n > 1">Multisig {{
                      wallet?.m }}-{{ wallet?.n }}</span>
                    <img src="assets/img/wallet-details/wallet-info-dark.svg">
                  </div>
                </div>
              </div>
              <div [ngClass]="{'wallet-info-is-show': (wallet?.cachedStatus && wallet?.cachedStatus.wallet && wallet?.cachedStatus.wallet?.singleAddress && isUtxoCoin()) || (wallet?.credentials?.n > 1 || (!wallet?.credentials?.n && wallet?.n > 1) || !wallet?.isComplete() || (wallet?.isComplete() && wallet?.needsBackup))}"
                class="edit-account-name">
                <ion-button class="btn-edit-name" *ngIf="!isEditNameFlag && !isHomeCard" fill="clear" (click)="isEditNameFlag = !isEditNameFlag">
                  <ion-icon src="assets/img/key-edit-dark.svg"></ion-icon>
                </ion-button>
                <ion-button class="btn-done-edit" *ngIf="isEditNameFlag" fill="clear" (click)="editAccountName()">
                  <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
                </ion-button>
              </div>
            </div>
            <div (click)="goToReceivePage()" class="ngx-qrcode-address" *ngIf="address">
              <ng-container *ngIf="address && !loading;else noShowQrCode">
                <ngx-qrcode hide-toast="true" value="{{ address }}" cssClass="aclass" [errorCorrectionLevel]="typeErrorQr.MEDIUM"></ngx-qrcode>
              </ng-container>
              <ng-template #noShowQrCode>
                <ion-spinner name="dots"></ion-spinner>
              </ng-template>
            </div>
          </div>
      
          <div class="balance-content" [ngClass]="{'balance-content-home-card': isHomeCard}">
            <div (tap)="updateAll(true)"
              *ngIf="!wallet?.scanning && !walletNotRegistered && (wallet?.cachedStatus || wallet?.lastKnownBalance);else dots">
              <div class="balance-str">
                <balance-to-show *ngIf="!wallet?.balanceHidden" [balance]="getBalance()"></balance-to-show>
                <div *ngIf="wallet?.balanceHidden">******</div>
                <ion-icon *ngIf="!isHomeCard" class="eye" [name]="wallet?.balanceHidden ? 'eye-outline' : 'eye-off-outline'"
                  (click)="toggleBalance()"></ion-icon>
              </div>
              <div class="balance-alt-str"
                *ngIf="wallet?.cachedStatus && wallet?.cachedStatus.totalBalanceAlternative && !wallet?.balanceHidden">
                ~ {{getAlternativeBalance()}} {{wallet?.cachedStatus.alternativeIsoCode}}
              </div>
              <div class="balance-alt-str" *ngIf="wallet?.balanceHidden">
                ******
              </div>
            </div>
            <ng-template #dots>
              <div class="balance-str">
                <ion-spinner name="dots"></ion-spinner>
              </div>
              <div class="balance-alt-str">
                <ion-spinner name="dots"></ion-spinner>
              </div>
            </ng-template>
          </div>
      
          <div class="wallet-address" [ngClass]="{'wallet-address-home-card': isHomeCard}">
            <ng-container *ngIf="address;else noWallet">
              <div class="wallet-add">
                <ion-icon copy-to-clipboard="{{ address }}" src="assets/img/wallet-details/wallet-detail-card-copy.svg"></ion-icon>
                <ng-container *ngIf="!address || loading;else showAddress">
                  <ion-spinner name="dots"></ion-spinner>
                </ng-container>
                <ng-template #showAddress>
                  <span copy-to-clipboard="{{ address }}">{{(address | slice:-8)}}</span>
                </ng-template>
                <ion-button fill="clear" *ngIf="!(wallet?.cachedStatus && wallet?.cachedStatus.wallet && wallet?.cachedStatus.wallet.singleAddress)" class="addr-update" (click)="setAddress(true)">
                  <ion-icon class="icon-refresh" slot="icon-only" src="assets/img/wallet-details/wallet-detail-card-refresh.svg"></ion-icon>
                </ion-button>
              </div>
            </ng-container>
            <ng-template #noWallet>
              <div class="wallet-add">
                <ion-spinner name="dots"></ion-spinner>
              </div>
            </ng-template>
            <div *ngIf="isHomeCard">
              <ion-button class="btn-send" fill="clear" (click)="goToSendPage()">
                <ion-icon class="icon-refresh" slot="start" src="assets/img/wallet-details/ic-send-light.svg"></ion-icon>
                {{ 'Send' | translate }}
              </ion-button>
            </div>
          </div>
        </div>
      </ion-item>
  
      <ion-item-options *ngIf="!flagOptionRemove" side="end">
        <ion-item-option (click)="addToGroupsHome()" class="btn-add-to-home">
          <img src="assets/img/add-to-home-dark.svg" alt="">
        </ion-item-option>
      </ion-item-options>
      <ion-item-options *ngIf="flagOptionRemove" side="end">
        <ion-item-option (click)="removeOutGroupsHome()" class="btn-remove-out-home">
          <img src="assets/img/remove-out-home-dark.svg" alt="">
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ng-container>
  
  <ng-template #tokenCard>
    <ion-item-sliding (ionDrag)="handleOnDrag()" [disabled]="flagAllItemRemove" #slidingItem>
      <ion-item lines="none">
        <div class="wallet-card bg-default" [ngClass]="{ 
          'bg-EAT': token?.tokenInfo?.symbol == 'EAT',
          'bg-bcPro': token?.tokenInfo?.symbol == 'bcPro',
          'bg-DoC': token?.tokenInfo?.symbol == 'DoC',
          'bg-ABCSLP': token?.tokenInfo?.symbol == 'ABCSLP',
          'card-home': isHomeCard
          }"
        >
          <div class="wallet-card-header">
            <div [ngClass]="{'wallet-info-is-show': (wallet?.cachedStatus && wallet?.cachedStatus.wallet && wallet?.cachedStatus.wallet?.singleAddress && isUtxoCoin()) || (wallet?.credentials?.n > 1 || (!wallet?.credentials?.n && wallet?.n > 1) || !wallet?.isComplete() || (wallet?.isComplete() && wallet?.needsBackup))}"
            class="wallet-icon" (click)="isHomeCard ? goToAccountDetail() : ''">
              <div class="icon">
                <img [src]="setIconToken(token)" alt="">
              </div>
              <div class="wallet-name">
                <p class="name">{{token?.tokenInfo?.name}}</p>
                <div class="wallet-info">
                  <span class="audit-table"
                    *ngIf="wallet?.cachedStatus && wallet?.cachedStatus.wallet && wallet?.cachedStatus.wallet?.singleAddress && isUtxoCoin()">Auditable</span>
                  <div (click)="goToMultisignInfo()"
                    *ngIf="wallet?.credentials?.n > 1 || (!wallet?.credentials?.n && wallet?.n > 1) || !wallet?.isComplete() || (wallet?.isComplete() && wallet?.needsBackup)"
                    class="secondary-label">
                    <span class="secondary-label-multisign" *ngIf="wallet?.credentials?.n > 1">Multisig {{
                      wallet?.credentials?.m }}-{{ wallet?.credentials?.n }}</span>
                    <span class="secondary-label-multisign" *ngIf="!wallet?.credentials?.n && wallet?.n > 1">Multisig {{
                      wallet?.m }}-{{ wallet?.n }}</span>
                    <img src="assets/img/wallet-details/wallet-info-dark.svg">
                  </div>
                </div>
              </div>
            </div>
            <div (click)="goToReceivePage()" class="ngx-qrcode-address" *ngIf="wallet?.etokenAddress">
              <ng-container *ngIf="wallet?.etokenAddress && !loading;else noShowQrCodeToken">
                <ngx-qrcode hide-toast="true" value="{{ wallet?.etokenAddress }}" cssClass="aclass" [errorCorrectionLevel]="typeErrorQr.MEDIUM"></ngx-qrcode>
              </ng-container>
              <ng-template #noShowQrCodeToken>
                <ion-spinner name="dots"></ion-spinner>
              </ng-template>
            </div>
          </div>
      
          <div class="balance-content" [ngClass]="{'balance-content-home-card': isHomeCard}">
            <div (tap)="updateAll(true)" *ngIf="!wallet?.scanning && (wallet?.cachedStatus || wallet?.lastKnownBalance)">
              <div class="balance-str">
                <balance-to-show *ngIf="!wallet?.balanceHidden" [balance]="amountToken"></balance-to-show>
                <div *ngIf="wallet?.balanceHidden">******</div>
                <div class="wallet-setting" (click)="goToTokenInfo()">
                  <ion-icon src="assets/img/wallet-details/wallet-info-dark.svg"></ion-icon>
                </div>
              </div>
              <div class="balance-alt-str" *ngIf="!wallet?.balanceHidden">
                ~ {{formatTxAmount(token.alternativeBalance)}} {{wallet?.cachedStatus.alternativeIsoCode}}
              </div>
              <div class="balance-alt-str" *ngIf="wallet?.balanceHidden">
                ******
              </div>
            </div>
      
          </div>
      
          <div class="wallet-address" [ngClass]="{'wallet-address-home-card': isHomeCard}">
            <ng-container *ngIf="wallet?.etokenAddress;else noWalletToken">
              <div class="wallet-add">
                <ion-icon copy-to-clipboard="{{ wallet?.etokenAddress }}" src="assets/img/wallet-details/wallet-detail-card-copy.svg"></ion-icon>
                <ng-container *ngIf="!wallet?.etokenAddress || loading;else showAddressToken">
                  <ion-spinner *ngIf="!wallet?.etokenAddress || loading" name="dots"></ion-spinner>
                </ng-container>
                <ng-template #showAddressToken>
                  <span copy-to-clipboard="{{ wallet?.etokenAddress }}">{{(wallet?.etokenAddress | slice:-8)}}</span>
                </ng-template>
                <ion-button fill="clear" *ngIf="!(wallet?.cachedStatus && wallet?.cachedStatus.wallet && wallet?.cachedStatus.wallet.singleAddress)" class="addr-update" (click)="setAddress(true)">
                  <ion-icon slot="icon-only" src="assets/img/wallet-details/wallet-detail-card-refresh.svg"></ion-icon>
                </ion-button>
              </div>
            </ng-container>
            <ng-template #noWalletToken>
              <div class="wallet-add">
                <ion-spinner name="dots"></ion-spinner>
              </div>
            </ng-template>
            <div *ngIf="isHomeCard">
              <ion-button class="btn-send" fill="clear" (click)="goToSendPageToken()">
                <ion-icon class="icon-refresh" slot="start" src="assets/img/wallet-details/ic-send-light.svg"></ion-icon>
                {{ 'Send' | translate }}
              </ion-button>
            </div>
          </div>
        </div>
      </ion-item>
  
      <ion-item-options *ngIf="!flagOptionRemove" side="end">
        <ion-item-option (click)="addToGroupsHome()" class="btn-add-to-home">
          <img src="assets/img/add-to-home-dark.svg" alt="">
        </ion-item-option>
      </ion-item-options>
      <ion-item-options *ngIf="flagOptionRemove" side="end">
        <ion-item-option (click)="removeOutGroupsHome()" class="btn-remove-out-home">
          <img src="assets/img/remove-out-home-dark.svg" alt="">
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ng-template>
</div>