page-wallets {

  .custom-notification-icon {
    position: absolute;
    bottom: 12px;
    left: 13px;
    z-index: 1;
  }

  .secondary-note {
    font-size: 12px !important;
  }

  .no-token {
    color: var(--color-light-grey);
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 500;
  }

  .wallet-item {
    margin: 1rem 1rem 0 1rem;
    background: none;
    border-radius: 10px;
    ion-item-sliding {
      border: 0;
      wallet-item-content {
        ion-item {
          margin: 0 !important;
        }
      }
      ion-item-options {
        border: 0;
        ion-item-option {
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
        }
      }
      &.item-sliding-active-slide {
        ion-item-option {
          &.btn-add-to-home {
            --background: #30885a;
          }
          &.btn-remove-out-home {
            --background: #677A87;
          }
        }
      }
    }
  }

  .token-container {
    background: linear-gradient(0deg, rgba(0, 101, 141, 0.08), rgba(0, 101, 141, 0.08)), #FAFAFB;
    position: relative;
    border-radius: 0 0 8px 8px;

    ion-item {
      background: linear-gradient(0deg, rgba(0, 101, 141, 0.08), rgba(0, 101, 141, 0.08)), #FAFAFB !important;
      --padding-start: 0;
      --border-color: rgba(112, 129, 138, 0.16);
      padding: 0 !important;
      margin: 0 !important;
      --background: transparent !important;

      &:last-child {
        --border-color: transparent;
      }

      ion-icon {
        padding: 0;
        margin: 1rem 0.5rem 1rem 0 !important;
        width: 32px;
        height: 32px;
      }

      ion-note {
        margin-right: 0;
      }
    }

    .token-item {
      background: linear-gradient(0deg, rgba(0, 101, 141, 0.08), rgba(0, 101, 141, 0.08)), #FAFAFB !important;

      ion-item {
        --inner-padding-top: 11px;
        --inner-padding-bottom: 11px;
        box-shadow: none !important;
        padding: 0 1rem !important;

        .token-icon {
          margin: 0;
          margin-right: 0.5rem;
          width: 32px;
          height: 32px;
        }
      }
    }

    .collapse-btn {
      margin-left: 0 !important;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 20px !important;
      width: 20px !important;
      background: none !important;

      ion-icon {
        padding: 0;
      }
    }

    .background-content {
      margin-left: 5px;
      letter-spacing: 0.4px;
    }

    .no-border {
      border-bottom: 0;
    }

    .address-token {
      display: flex;
      align-items: center;
      color: rgba(28, 55, 69, 0.6);
      font-size: 12px;

      &:hover {
        cursor: pointer;
      }
    }

    .coin-img {
      width: 18px;
      height: 18px;
      margin: 0px;
    }

    .wrap-key-token {
      display: flex;
      align-items: center;
      color: rgba(28, 55, 69, 0.6);

      .key-name {
        margin-left: 0;
        font-weight: 600;
        letter-spacing: 0.1px;
      }
    }

    .collapse {
      margin: 0 4px;
    }
  }

  .collapsed {
    display: none;
  }

  .scroll-token {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  .notifications-badge {
    border-radius: 9px;
    font-size: 12px;
    padding: 4px 6px;
    padding-top: 4px;
    font-weight: 600;
    background-color: #f39c11;
    color: #fff;
  }

  .wallets-list {
    margin-top: 12px;
  }

  .no-header {
    margin-top: 2.6rem;
  }

  .wallets-container {
    .bp-list ion-item {
      cursor: pointer;
      --inner-padding-end: 0;
      --padding-top: 2px;
      --padding-bottom: 2px;
      box-shadow: none !important;
    }
  }

  .section-header {
    margin: 0;
    padding: 1rem;
    padding-top: 16px;
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(112, 129, 138, 0.16);
  }

  .bp-header {
    ion-toolbar {
      --background: var(--color-primary);
      --border-width: 0 !important;
      background: var(--color-primary);
    }

    ion-button {
      --padding-start: 0;
      --padding-end: 0;
      margin: 0;
      width: 24px;
      height: 24px;
    }

    ion-title {
      font-size: 16px !important;
      font-weight: 600 !important;
      color: #ffffff;
      text-align: center;
    }

    .key-setting {
      margin: 0 1rem;
    }

    .key-notifications {
      margin: 0 1rem;
      --overflow: visible;
    }

    .address-book {
      color: #6a9ab4;
    }
  }

  .header-title {
    color: var(--color-light-on-background-theme);
    margin: 1.5rem 1rem 0 1rem;
    font-weight: 600;
    font-size: 22px;
  }

  ion-menu {
    ion-header {
      ion-toolbar {
        .back-btn {
          --color: rgba(0, 30, 46, 0.6);
          --padding-start: 0;
          --padding-end: 0;
          margin: 4px 0 4px 1rem;
        }

        ion-title {
          font-size: 16px;
          color: var(--color-light-on-background-theme);
        }
      }
    }

    ion-content {
      --background: var(--bg-color-inner-item-light-theme) !important;
      width: auto !important;

      ion-list {
        .sub-menu {
          border-bottom: 1px solid rgba(112, 129, 138, 0.16);
          background: var(--bg-color-inner-item-light-theme) !important;
        }
      }
    }

    ion-footer {
      text-align: center;

      ion-toolbar {
        --background: var(--bg-color-inner-item-light-theme) !important;

        .key-import {
          font-size: 14px;
          font-weight: 600;
          border: 1px solid #819098;
          border-radius: 2rem;
          padding: 0 1.5rem;
        }
      }
    }
  }

  .balance {
    text-align: center;
    padding: 1.5rem 0;
    background: var(--color-primary);

    ion-button {
      border: 1px solid #70818a;
      border-radius: 2rem;
      font-size: 14px;
      font-weight: 600;
      margin-top: 1rem;
      color: #7ED0FF !important;
    }

    .balance-str {
      display: flex;
      justify-content: center;

      .eye {
        color: #75b3d1;
        width: 22px;
        height: 22px;
      }

      .balance-alt-str {
        margin-left: 0.5rem;
        font-size: 22px;
        font-weight: 600;
        color: var(--swiper-pagination-bullet);
        margin-right: 5px;
      }

      .unit {
        margin-top: 5px;
        font-size: 14px;
        color: rgba(195, 231, 255, 0.6);
      }
    }
  }

  .no-wallet {
    font-size: 18px;
    text-align: center;
    color: var(--ion-color-primary);
  }

  .key-edit {
    padding: 8px 1rem !important;
  }

  .edit {
    --padding-start: 0 !important;
    --padding-top: 0 !important;
    --padding-bottom: 0 !important;
    --inner-padding-end: 0 !important;
    border: 1px solid #7ED0FF;
    border-radius: 4px;
  }

  .key-title {
    margin: 0;
    padding: 0 1rem;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: break-spaces;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #fff;
  }
}