<ion-menu side="start" menuId="first" contentId="main-content">
  <ion-header>
    <ion-toolbar translucent>
      <ion-button class="back-btn" fill="clear" slot="start" (click)="closeMenu()">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
      <ion-title>{{'Your keys' | translate}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="content-desktop">
    <ion-list lines="none">
      <ion-reorder-group [disabled]="isDisableBtnMenu" (ionItemReorder)="reorderAccounts($event)">
        <ng-container *ngFor="let walletGroup of walletsGroups; let i = index">
          <div class="sub-menu">
            <sub-menu-account 
              [value]="getWalletGroup(walletGroup[0]?.keyId).name"
              [keySelected]="keySelected"
              [walletGroup]="walletGroup"
              (getKeySelect)="getKeySelected($event)"
              (disableBtn)="handleBtnSubMenu($event)"
              [isDisableBtn]="isDisableBtnMenu"
            ></sub-menu-account>
          </div>
        </ng-container>
      </ion-reorder-group>
    </ion-list>
  </ion-content>
  <ion-footer class="ion-no-border">
    <ion-toolbar>
      <ion-button class="key-import" fill=clear (click)="addKey()">
        {{'Create or Import a Key' | translate}}
      </ion-button>
    </ion-toolbar>
  </ion-footer>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header *ngIf="!(!walletsGroups || !walletsGroups[0])" [translucent]="true" class="bp-header">
    <ion-toolbar class="toolbar-desktop" translucent *ngIf="!this.platformProvider.isCordova">
      <div class="header-container-desktop">
        <img class="logo-abcpay" src="../../../assets/img/abcpay-logo.svg" alt="">
        <img src="../../../assets/img/abcpay-text.svg" alt="">
      </div>
    </ion-toolbar>
    <ion-toolbar class="toolbar-icon-view-mobile" [ngClass]="{'add-box-shadow-scroll': isScroll}">
      <ion-buttons slot="start" class="ion-no-margin">
        <ion-button class="key-setting" (click)="openSettingPage()">
          <ion-icon slot="icon-only" src="assets/img/key-setting-{{currentTheme}}.svg"></ion-icon>
        </ion-button>
        <ion-button class="key-list" (click)="openMenu()">
          <ion-icon slot="icon-only" src="assets/img/key-list-{{currentTheme}}.svg"></ion-icon>
        </ion-button>
      </ion-buttons>
      <h2 class="key-title">
        {{ keyNameSelected }}
      </h2>
      <ion-buttons slot="end" class="settings-button" *ngIf="walletsGroups && walletsGroups[0]">
        <ion-button class="key-add" (click)="openAddressBookPage()">
          <ion-icon class="address-book" src="assets/img/key-addressbook.svg"></ion-icon>
        </ion-button>
        <ion-button slot="icon-only" class="key-notifications" (click)="openProposalsNotificationsPage()">
          <img *ngIf="txpsN > 0" class="custom-notification-icon" src="assets/img/wallet-details/notification-{{currentTheme}}.svg" />
          <ion-icon src="assets/img/key-notifications-{{currentTheme}}.svg"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="content-desktop" [scrollEvents]="true" (ionScroll)="handleScrolling($event)">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullMin="90" pullMax="160">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div class="wrapper">
      <div *ngIf="!(!walletsGroups || !walletsGroups[0])" class="balance">
        <div class="balance-str" [style]="!isShowBalance ? 'align-items: baseline' : 'align-items: center'">
          <ion-icon class="eye" [name]="!isShowBalance ? 'eye-outline' : 'eye-off-outline'"
            (click)="changShowBalanceKey()"></ion-icon>
          <span class="balance-alt-str">
            {{isShowBalance ? totalBalanceKey : '******'}}
          </span>
          <span *ngIf="isShowBalance" class="unit">
            {{currentCurrency}}
          </span>
        </div>
        <ion-button fill=clear (click)="addWallet(keySelected[0]?.keyId)">
          {{'Create a new account' | translate}}
        </ion-button>
      </div>

      <div class="wallets-container">
        <div *ngIf="!(!walletsGroups || !walletsGroups[0])" class="header-title">
          {{'Accounts' | translate}}
        </div>
        <div class="section-header ion-padding-top ion-padding-bottom" *ngIf="keySelected[0]?.keyId == 'read-only'">
          <ion-icon src="assets/img/settings-icons/icon-read-only.svg" width="20" class="item-img" slot="start">
          </ion-icon>
          <ion-label class="key-name">
            <span translate>Read Only Accounts</span>
          </ion-label>
        </div>
        <ion-list lines="nones" class="bp-list">
          <div class="wallet-item" *ngFor="let wallet of keySelected; let j = index">
            <ion-item-sliding #slidingItem>
              <wallet-item-content [isKeyTab]="true" [wallet]="wallet"
                (click)="goToWalletDetails(wallet)">
              </wallet-item-content>

              <ion-item-options side="end">
                <ng-container *ngIf="!checkCardExistListPrimary(wallet);else removeOut">
                  <ion-item-option (click)="addToGroupsHome(wallet)" class="btn-add-to-home">
                    <img src="../../../assets/img/add-to-home-dark.svg" alt="">
                  </ion-item-option>
                </ng-container>
                <ng-template #removeOut>
                    <ion-item-option (click)="removeOutGroupsHome(wallet)" class="btn-remove-out-home">
                      <img src="../../../assets/img/remove-out-home-dark.svg" alt="">
                    </ion-item-option>
                </ng-template>
              </ion-item-options>
            </ion-item-sliding>

            <ng-container *ngIf="isSupportToken(wallet) && isLoading">
              <div class="token-container">
                <div class="section-header ion-padding-top ion-padding-bottom"
                  [ngClass]="{'no-border': isCollapsedToken(wallet.id)}">
                  <div class="wrap-key-token">
                    <ion-label class="key-name">
                      <span>eToken</span>
                    </ion-label>
                    <div class="collapse">
                      <div class="collapse-btn" (click)="collapsToken(wallet.id)">
                        <ion-icon *ngIf="!isCollapsedToken(wallet.id)" name="chevron-up-outline"></ion-icon>
                        <ion-icon *ngIf="isCollapsedToken(wallet.id)" name="chevron-down-outline"></ion-icon>
                      </div>
                    </div>
                  </div>
                  <div class="address-token" copy-to-clipboard="{{wallet.etokenAddress}}">
                    <ion-icon class="coin-img" name="copy-outline"></ion-icon>
                    <span class="background-content">{{wallet.etokenAddress | slice:-8}}</span>
                  </div>
                </div>
                <ng-container *ngIf="!wallet.tokens">
                  <div class="no-token" [ngClass]="{ collapsed: isCollapsedToken(wallet.id) }">{{'No token available yet!' | translate}}
                  </div>
                </ng-container>
                <ng-container *ngIf="wallet.tokens">
                  <ion-list class="token-item bp-list" [ngClass]="{ collapsed: isCollapsedToken(wallet.id) }">
                    <ng-container *ngFor="let token of wallet.tokens">
                      <ion-item-sliding>
                        <ion-item *ngIf="token.amountToken && token.amountToken !== 0" (click)="goToTokenDetails(wallet, token)">
                          <img class="item-img rectangle token-icon" [src]="setIconToken(token)" slot="start">
                          <ion-label>
                            <div class="main-label">{{token?.tokenInfo?.name}}</div>
                            <div class="secondary-label" *ngIf="wallet?.cachedStatus">
                              {{token?.tokenInfo?.symbol}}
                            </div>
                          </ion-label>
                          <ion-note slot="end">
                            <div>
                              <ng-container *ngIf="!wallet?.balanceHidden;else noShowBalanceToken">
                                <div class="main-note">{{DecimalFormatBalance(token?.amountToken)}}</div>
                                <div class="secondary-note" *ngIf="wallet?.cachedStatus">
                                  <span >~</span> {{symbolCurrency + DecimalFormatBalance(token.alternativeBalance)}}
                                </div>
                              </ng-container>
                              <ng-template #noShowBalanceToken>
                                <div class="main-note">******</div>
                                <div class="secondary-note">******</div>
                              </ng-template>
                            </div>
                          </ion-note>  
                        </ion-item>

                        <ion-item-options side="end">
                          <ng-container *ngIf="!checkCardExistListPrimary(wallet, token);else removeOutToken">
                            <ion-item-option (click)="addToGroupsHome(wallet, token)" class="btn-add-to-home">
                              <img src="../../../assets/img/add-to-home-dark.svg" alt="">
                            </ion-item-option>
                          </ng-container>
                          <ng-template #removeOutToken>
                            <ion-item-option (click)="removeOutGroupsHome(wallet, token)" class="btn-remove-out-home">
                              <img src="../../../assets/img/remove-out-home-dark.svg" alt="">
                            </ion-item-option>
                          </ng-template>
                        </ion-item-options>
                      </ion-item-sliding>
                      
                    </ng-container>
                  </ion-list>
                </ng-container>
              </div>
            </ng-container>

          </div>
        </ion-list>
        <label-tip type="warn" class="ion-margin-top"
          *ngIf="keySelected && keySelected[0] && keySelected[0]?.needsBackup" header="no-header">
          <div label-tip-body>
            <span translate>Before retrieving your accounts addresses, it's recommended that you first write down your
              recovery phrase and store it securely so that your accounts can be recovered in the case your device was
              lost
              or stolen.</span>
            <br>
            <a class="label-tip-link" (click)="openBackupPage(keySelected[0]?.keyId)" translate>Backup now</a>
          </div>
        </label-tip>
      </div>
        <create-new-wallet *ngIf="!walletsGroups || !walletsGroups[0]"></create-new-wallet>
    </div>
  </ion-content>
</div>