<wide-header-page title="Confirm Token Payment" [hasSlideButton]="!hideSlideButton && isCordova">
  <div page-content>
    <ion-list lines="none" class="bp-list">
      <ion-item lines="none" class="custom-list">
        <div class="list-container">
          <div class="first-row row-container summary-amount-info">
            <div class="ellipsis">
              <div class="total-amount ellipsis">
                {{amountTokenToSend}} {{token?.tokenInfo?.symbol | uppercase}}
              </div>
              <!--Todo: later for convert etoken to fiat-->
              <!-- <div class="total-amount-alt ellipsis">
                {{totalAmount | satToFiat: tx.coin}}
              </div> -->
            </div>
          </div>

          <div class="row-container">
            <div class="item-name" translate>Subtotal</div>
            <div class="item-detail ellipsis">
              <span>{{amountTokenToSend}} {{token?.tokenInfo?.symbol | uppercase}}</span>
            </div>
          </div>

          <div class="row-container">
            <div class="item-name">
              <span translate>Miner fee</span>
            </div>
            <div class="item-detail ellipsis">
              <div class="fee-loading" *ngIf="!fee">
                <div class="summary-item-detail">
                  <div>...</div>
                </div>
              </div>
              <div *ngIf="fee" class="note-container ellipsis">
                <!--Todo: tmp hard code for miner fee detail-->
                {{fee}} {{wallet.coin | uppercase}}
              </div>
              <!--Todo: tmp hard code for miner fee detail-->
              <div class="sub-note fee-details ellipsis">
                0.00 USD
                <span>
                  &middot;
                  <span>
                    0.00%
                    <span translate> of total amount</span>
                  </span>
                </span>
              </div>

            </div>
          </div>
        </div>
      </ion-item>

      <ion-item button detail="false" class="row-container">
        <ion-label slot="start">
          <div class="summary-item">
            <span translate>Sending from</span>
          </div>
        </ion-label>
        <ion-note class="ellipsis" slot="end">
          <ion-row class="wallet ion-align-items-center" *ngIf="wallet">
            <ion-col>
              <span class="note-container ellipsis">{{wallet.name}} Token</span>
            </ion-col>
          </ion-row>
        </ion-note>
      </ion-item>

      <ion-item lines="none" class="send-to-custom">
        <ion-label slot="start">
          <div class="summary-item">
            <span translate>Sending to</span>
          </div>
        </ion-label>

        <ion-note slot="end" class="address-note-custom ellipsis">
          <div class="note-container" copy-to-clipboard="{{ sendToAddress }}">
            <span class="ellipsis">{{ sendToAddress.slice(-8) }}</span>
          </div>
        </ion-note>
      </ion-item>

      <ion-item *ngIf="!toAddressName" class="add-address-book">
        <mat-form-field appearance="outline">
            <mat-label translate>Address book name</mat-label>
            <input matInput type="text" [(ngModel)]="nameContact" [placeholder]="'Enter name to save to address book' | translate">
          </mat-form-field>
      </ion-item>

    </ion-list>
  </div>

  <div footer-content>
    <page-slide-to-accept #slideButton *ngIf="isCordova"
      [ngClass]="{'slide-confirm-fast slide-confirm-down': hideSlideButton, 'slide-confirm-slow': !hideSlideButton}"
      [disabled]="(!wallet)" [buttonText]="buttonText" (slideDone)="approve(wallet)">
    </page-slide-to-accept>
    <ion-toolbar *ngIf="!isCordova && (wallet)">
      <ion-button expand="full" class="button-footer" (click)="approve(wallet)" [disabled]="(!wallet)">
        {{buttonText}}
      </ion-button>
    </ion-toolbar>
  </div>
</wide-header-page>