<ion-header [translucent]="true" class="bp-header">
  <ion-toolbar class="toolbar-desktop" *ngIf="!this.platformProvider.isCordova">
    <div class="header-container-desktop">
      <img class="logo-abcpay" src="../../../assets/img/abcpay-logo.svg" alt="">
      <img src="../../../assets/img/abcpay-text.svg" alt="">
    </div>
  </ion-toolbar>
  <!-- TODO: Keep to header on top when scroll -->
  <ng-container *ngIf="!this.platformProvider.isCordova;else mobileToolbar">
    <div class="desktopToolbarHome">
      <ion-toolbar class="toolbar-icon-view-mobile toolbar-home" [ngClass]="{'add-box-shadow-scroll': isScroll}">
        <ion-title>
          <div class="home-icon">
            <ion-button fill="clear" slot="icon-only" class="settings-btn" (click)="openSettingPage()">
              <ion-icon slot="end" src="assets/img/home-setting-icon-{{currentTheme}}.svg"></ion-icon>
            </ion-button>
            <h2>
              {{ 'Home' | translate }}
            </h2>
            <div class="group-btn-top">
              <ion-button fill="clear" slot="icon-only" class="chart-btn" (click)="openChartViewPage()">
                <ion-icon slot="end" src="assets/img/home-chart-icon-{{currentTheme}}.svg"></ion-icon>
              </ion-button>
              <ion-button fill="clear" slot="icon-only" class="key-notifications" (click)="openProposalsNotificationsPage()">
                <img *ngIf="txpsN > 0" class="custom-notification-icon" src="assets/img/wallet-details/notification-{{currentTheme}}.svg" />
                <ion-icon slot="end" src="assets/img/home-notifications-icon-{{currentTheme}}.svg"></ion-icon>
              </ion-button>
            </div>
          </div>
        </ion-title>
      </ion-toolbar>
    </div>
  </ng-container>
  <ng-template #mobileToolbar>
    <ion-toolbar class="toolbar-icon-view-mobile toolbar-home" [ngClass]="{'add-box-shadow-scroll': isScroll}">
      <ion-title>
        <div class="home-icon">
          <ion-button fill="clear" slot="icon-only" class="settings-btn" (click)="openSettingPage()">
            <ion-icon slot="end" src="assets/img/home-setting-icon-{{currentTheme}}.svg"></ion-icon>
          </ion-button>
          <h2>
            {{ 'Home' | translate }}
          </h2>
          <div class="group-btn-top">
            <ion-button fill="clear" slot="icon-only" class="chart-btn" (click)="openChartViewPage()">
              <ion-icon slot="end" src="assets/img/home-chart-icon-{{currentTheme}}.svg"></ion-icon>
            </ion-button>
            <ion-button fill="clear" slot="icon-only" class="key-notifications" (click)="openProposalsNotificationsPage()">
              <img *ngIf="txpsN > 0" class="custom-notification-icon" src="assets/img/wallet-details/notification-{{currentTheme}}.svg" />
              <ion-icon slot="end" src="assets/img/home-notifications-icon-{{currentTheme}}.svg"></ion-icon>
            </ion-button>
          </div>
        </div>
      </ion-title>
    </ion-toolbar>
  </ng-template>
</ion-header>
<ion-content [scrollEvents]="true" (ionScroll)="handleScrolling($event)" #scrollArea>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="card-home-info">
    <div *ngIf="showTotalBalance" class="total-amount-container">
      <div class="total-amount">
        <div class="section-header" translate>Total cash value</div>
        <div class="total-amount-value">
          <ion-icon [ngClass]="{'eye-light-theme': currentTheme == 'light'}" class="eye"(click)="isShowBalance = !isShowBalance" [name]="isShowBalance ? 'eye-outline' : 'eye-off-outline'"
          ></ion-icon>
          <ng-container *ngIf="!isShowBalance;else hideBalance">
            <span *ngIf="totalBalanceAlternative">
              {{ totalBalanceAlternative | number:'1.2-2'}} <span class="iso-code">{{totalBalanceAlternativeIsoCode}}</span>
            </span>
            <span *ngIf="fetchingStatus">
              <ion-spinner color="primary"></ion-spinner>
            </span>
          </ng-container>
          <ng-template #hideBalance>
            <span>
              ******
            </span>
          </ng-template>
        </div>
      </div>
      <img class="top-img" src="../../../assets/img/home-abc-top-bg-light.svg" alt="">
      <img class="bottom-img" src="../../../assets/img/home-abc-bottom-bg-light.svg" alt="">
    </div>
  </div>

  <div class="message-background" *ngIf="accessDenied">
    <div class="message-header no-dismissible"></div>
    <div class="message-content">
      <ion-row class="ion-align-items-center">
        <div class="message-icon"><img src="assets/img/icon-danger.svg" /></div>
        <div class="message-title message-title-critical">
          {{ 'Access denied' | translate }}
        </div>
      </ion-row>
      <div class="message-body">
        Unfortunately, your country/region has banned the use or acceptance of
        cryptocurrencies as a valid form of payment and we are therefore unable
        to service you.
      </div>
      <div>
        <div class="line-divider"></div>
        <span class="message-button" (click)="openCountryBannedLink()" translate>Learn more</span>
      </div>
    </div>
  </div>

  <div class="message-background" *ngIf="newReleaseAvailable">
    <div class="message-header">
      <ion-row class="ion-justify-content-end">
        <ion-button fill="clear" class="ion-float-right" color="grey" (click)="dismissNewReleaseMessage()">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-row>
    </div>
    <div class="message-content">
      <ion-row class="ion-align-items-center">
        <div class="message-icon"><img src="assets/img/icon-update.svg" /></div>
        <div class="message-title">
          {{ 'There is a new version available' | translate }}
        </div>
      </ion-row>
      <div class="message-body" translate>
        An update to this app is available.
      </div>
    </div>
  </div>

  <div class="message-background" *ngIf="showServerMessage && serverMessages && serverMessages[0]">
    <div class="message-header" [ngClass]="{'no-dismissible': !serverMessages[0].dismissible}">
      <ion-row *ngIf="serverMessages[0].dismissible" class="ion-justify-content-end">
        <ion-button fill="clear" class="ion-float-right"  color="grey" (click)="dismissServerMessage(serverMessages[0])">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-row>
    </div>
    <div class="message-content">
      <ion-row class="ion-align-items-center">
        <div class="message-icon">
          <img *ngIf="!serverMessages[0].category || serverMessages[0].category === 'info'" src="assets/img/icon-info-blue.svg" />
          <img *ngIf="serverMessages[0].category === 'critical'" src="assets/img/icon-danger.svg" />
        </div>
        <div class="message-title" *ngIf="serverMessages[0].title" [ngClass]="{
            'message-title-info': !serverMessages[0].category || serverMessages[0].category == 'info',
            'message-title-critical': serverMessages[0].category == 'critical'
          }">
          {{ serverMessages[0].title }}
        </div>
      </ion-row>
      <div class="message-body" *ngIf="serverMessages[0].body">
        {{ serverMessages[0].body }}
      </div>

      <div *ngIf="serverMessages[0].link" (click)="openServerMessageLink(serverMessages[0].link)">
        <div class="line-divider"></div>
        <span class="message-button" *ngIf="serverMessages[0].linkText">{{ serverMessages[0].linkText }}</span>
        <span class="message-button" translate *ngIf="!serverMessages[0].linkText">Learn more</span>
      </div>
    </div>
  </div>

  <!-- <page-feedback-card #showCard></page-feedback-card> -->
  <!-- TODO: temporary hide the donation feature. Later, adding feature in settings to disable / enable this feature -->
  <!-- <page-lotus-donation-card></page-lotus-donation-card> -->

  <div class="section-header exchange-rate">
    <div class="exchange-rate-title" translate>
      Primary Accounts
      <span class="date-label" translate>(max 5)</span>
    </div>
    <ion-button id="trigger-button" class="btn-more" fill="clear">
      <ion-icon *ngIf="!removeAllItem" slot="icon-only" name="ellipsis-vertical"></ion-icon>
    </ion-button>
    <ion-button *ngIf="removeAllItem" (click)="removeAllItem = !removeAllItem" class="btn-more" fill="clear">
      <ion-icon name="checkmark-outline"></ion-icon>
    </ion-button>
    <ion-popover class="popover-home" [dismissOnSelect]="true" trigger="trigger-button" [arrow]="true" side="top">
      <ng-template>
        <ion-content>
          <ion-list lines="none" class="bp-list list-option-home">
            <ion-item [disabled]="walletGroupsHome.length >= 5" (click)="addToHome()">
              <ion-icon slot="start" src="assets/img/add-to-home-{{currentTheme}}.svg"></ion-icon>
              <ion-label translate>
                Add account to home
              </ion-label>
            </ion-item>
            <div class="line-divider"></div>
            <ion-item [disabled]="walletGroupsHome.length <= 1" (click)="removeAllItem = !removeAllItem">
              <ion-icon slot="start" src="assets/img/remove-out-home-{{currentTheme}}.svg"></ion-icon>
              <ion-label translate>
                Remove account from home
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-popover>
  </div>
  <ng-container *ngIf="loading;else showHomeCard">
    <ion-item lines="none" class="card-home-loading">
      <div class="wallet-card">
        <div class="wallet-card-header">
          <div class="icon">
            <ion-avatar>
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-avatar>
          </div>
          <div class="title">
            <p>
              <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
            </p>
          </div>
        </div>
        <div class="balance-content">
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
        </div>
        <div class="wallet-address">
          <p>
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          </p>
        </div>
      </div>
    </ion-item>
  </ng-container>
  <ng-template #showHomeCard>
    <ng-container *ngIf="walletGroupsHome.length != 0;else noWallet">
      <ion-list lines="none" class="list-item-card">
        <div class="wallet-item" *ngFor="let wallet of walletGroupsHome; let j = index">
          <wallet-detail-card *ngIf="!wallet.tokens?.tokenId" [wallet]="wallet" [isHomeCard]="true" [flagAllItemRemove]="removeAllItem">
          </wallet-detail-card>
          <wallet-detail-card *ngIf="wallet.tokens?.tokenId" [wallet]="wallet" [token]="wallet.tokens" [isToken]="true" [isHomeCard]="true" [flagAllItemRemove]="removeAllItem">
          </wallet-detail-card>
        </div>
      </ion-list>
    </ng-container>
    
    <ng-template #noWallet>
      <div class="item-no-wallet" [ngClass]="{'no-wallet-light-theme': currentTheme == 'light', 'no-wallet-dark-theme': currentTheme == 'dark'}" (click)="addToHome()">
        <img class="icon-add-home" src="assets/img/add-to-home-{{currentTheme}}.svg" alt="">
        <p translate>
          Add to home
        </p>
      </div>
    </ng-template>
  </ng-template>
</ion-content>
