page-wallet-details {
  --icon-width: 36px;
  .custom-txps-number {
    display: flex;
    justify-content: center;
    width: 25px;
    height: 20px;
    border-radius: 100px;
    font-size: 14px;
    font-weight: 600;
    align-self: center;
    margin-left: 10px;
    background: #ffddb6;
    color: #000;
    align-items: center;
  }
  .grid-wrapper {
    display: grid;
    grid-template-rows: max-content 2fr;
  }

  .wrapper {
    min-height: 100%;
    padding-bottom: 0 !important;
    background: linear-gradient(
        0deg,
        rgba(0, 93, 141, 0.05),
        rgba(0, 93, 141, 0.05)
      ),
      #fafafb !important;
  }

  .balance-card {
    overflow: hidden;
    background-color: var(--bg-color-light-theme);
  }

  .balance-header {
    position: relative;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .wallet-name {
    .name {
      font-size: 16px;
      font-weight: 600;
    }
    ion-icon {
      width: 20px;
      height: 20px;
    }
  }

  .balance-error {
    width: 100%;
    text-align: center;

    div {
      cursor: pointer;
      font-size: 20px;
      font-weight: 500;
    }
  }

  .balance-spendable {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    font-size: 13px;
    cursor: pointer;

    ion-icon {
      width: 20px;
      height: 20px;
    }
  }

  .action-buttons {
    transform: inherit;
    opacity: inherit;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    &.no-margin {
      margin-top: 0 !important;
    }
    &.two-actions {
      justify-content: space-around;
    }

    .action-btn {
      text-align: center;
      cursor: pointer;
      &.send-btn {
        padding-left: 0.5rem;
      }
      &.receive-btn {
        padding-right: 0.5rem;
      }
      ion-button {
        --border-radius: 1rem;
        font-size: 14px;
        font-weight: 600;
        ion-icon {
          margin-right: 0.5rem;
          font-size: 20px;
        }
      }
    }
  }

  .balance-scanning {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;

    .title {
      font-size: 20px;
      font-weight: 500;
    }
  }

  .energized {
    color: var(--color-warning) !important;
  }

  .tx-history {
    min-height: 35vh;
    background: var(--bg-color-light-theme);
    .tx-history-header {
      height: 3rem;
      border-bottom: 0;

      .ng-star-inserted {
        font-size: 11px;
        font-weight: 600;
        color: rgba(28, 55, 69, 0.6);
        letter-spacing: 0.5px;
      }

      &.item {
        padding-left: 1rem;
        min-height: 26px;
        background: var(--bg-color-light-theme);
        ion-label {
          margin: 0;
          font-size: 11px;
          text-transform: uppercase;
        }
      }

      &--large {
        background: #fafafb !important;
        --inner-padding-end: 0;
        padding: 1rem 1rem 0 1rem;
        height: auto !important;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        .tx-history-header-label {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          text-transform: none !important;
          font-weight: 600;
          span {
            font-size: 17px !important;
            letter-spacing: 0.1px;
            color: #001e2e;
          }
          .label-multisign {
            text-transform: none;
            color: rgba(0, 30, 46, 0.6);
            font-size: 14px;
            .num-credentials {
              color: #f8b95d;
            }
          }
        }

        .accept-btn {
          --background: transparent;
          --color: var(--color-primary);
          border: 1px solid #70818a;
          border-radius: 20px;
          min-width: 100px;
          height: 35px;
          font-size: 14px;
          font-weight: 600;
          font-size: 14px;
        }

        .detail-btn {
          --padding-end: 0;
          margin-right: 0;
          --background: transparent;
          ion-icon {
            width: 14.5px;
            height: 12px;
          }
        }

        .item-tx-history {
          width: 100%;
          display: flex;
          padding-bottom: 0.5rem;
          justify-content: space-between;
          .custom-left-part {
            display: flex;
          }
        }
      }

      ion-label {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    .txps-badge {
      margin-right: 2rem;
      ion-badge {
        --background: unset;
      }
    }

    ion-item {
      --color-activated: none;
      --inner-padding-bottom: 1rem;
      --inner-padding-end: 0;
      --padding-top: 1rem;
      --padding-start: 1rem;
      --padding-end: 1rem;
      font-size: 16px;
      --inner-border-width: 0;
      border: 1px solid #f4f4f4;
      border-left: 0;
      border-right: 0;
      .item-icon {
        margin-right: 15px;
      }
    }

    img {
      width: var(--icon-width);
    }

    .action {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: flex;
      flex-direction: column;
      margin-right: 2rem;
      .memo {
        font-size: 14px;
        color: rgba(0, 30, 46, 0.6);
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        white-space: break-spaces;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    .amount {
      font-weight: 600;
      font-size: 16px;
      color: var(--ion-color-dark);

      .received {
        color: #37a372;
      }

      .sent {
        color: var(--color-danger);
      }

      .immature {
        color: #ccc1e9;
      }

      .pending {
        opacity: 0.38;
      }
    }

    .tx-action {
      font-size: 14px;
      margin: 0.5rem 0;
      letter-spacing: 0.4px;
    }

    .proposal-container {
      --inner-padding-end: 0;
      --inner-padding-top: 0;
      .item .item-inner {
        padding: 0 10px 0 0;
      }
      ion-note {
        padding-top: 0;
      }

      .date {
        margin-top: 0px;
      }
    }

    .item-img {
      img {
        width: 40px;
        height: 40px;
      }
    }

    .item-wrapper {
      margin-bottom: 0.5rem;
      &:last-child {
        margin-bottom: 0;
      }
    }

    &.tx-history-multisign {
      padding: 1rem !important;
      min-height: auto !important;
      margin: 1rem 1rem 2rem 1rem;
      border-radius: 8px;
      background: var(--color-inner-item-light-theme);
      ion-item {
        --padding-start: 0 !important;
        --padding-end: 0 !important;
        --padding-top: 0.5rem !important;
        padding: 0;
      }
      .tx-history-header--large {
        padding: 0 !important;
        border-bottom: 1px solid rgba(112, 129, 138, 0.16);
      }
    }
  }

  .middle-message {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .locked-balance {
    background: #fafafb;
    --background: #fafafb;
    --padding-top: 0 !important;
    --padding-bottom: 0 !important;
    --inner-padding-bottom: 0 !important;
    --inner-padding-end: 0 !important;
    border: 0 !important;
    border: 0;
    padding: 0.5rem 0 1rem 0;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    ion-label {
      display: flex !important;
      align-items: center;
      img {
        width: 24px;
        height: 24px;
      }
      .pending-amount {
        margin-left: 0.5rem;
        .total-locked-amount {
          font-size: 13px;
          color: rgba(0, 30, 46, 0.38);
          letter-spacing: 0.4px;
        }
        .total-alt-locked-amount {
          font-size: 13px;
          color: rgba(0, 30, 46, 0.38);
          letter-spacing: 0.4px;
        }
      }
    }
    ion-note {
      margin: 0;
      img {
        width: 24px;
        height: 24px;
      }
    }
  }

  .double-spend {
    text-align: end;
    font-size: 12.5px;
  }

  .white-card {
    background: white;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(
        0deg,
        rgba(0, 93, 141, 0.05),
        rgba(0, 93, 141, 0.05)
      ),
      #fafafb;
    box-shadow: 0px 0px 14px rgb(0 0 0 / 2%), 0px -4px 20px rgb(0 0 0 / 10%);
    border-radius: 24px 24px 0px 0px;
  }

  .top-notification {
    cursor: pointer;
    top: 0;
    margin-bottom: 1rem;
    &.warning {
      color: var(--ion-color-warning);
    }

    ion-icon {
      vertical-align: middle;
      margin-left: 5px;
    }
  }

  .warning-background {
    background-color: var(--ion-color-warning);
  }

  .danger-background {
    background-color: var(--ion-color-danger);
  }

  .donate-card {
    &::before {
      content: ' ';
      position: absolute;
      background-image: url(../../../assets/img/bg-donate-card.svg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      display: block;
      top: 0;
      left: 0;
      opacity: 1;
      border-radius: 1.5rem;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
    }
    margin: 1rem;
    position: relative;

    .donate-title {
      position: relative;
      font-size: 14px;
      width: 62%;
      display: flex;
      align-items: center;
      img {
        width: 56px;
        height: 56px;
        margin-right: 1rem;
      }
      span {
        color: #e0e4e6;
      }
    }
    .donate-info {
      position: absolute;
      right: 0;
      top: 0;
      margin-right: 5px;
      margin-top: 5px;
    }
  }

  .header-transaction {
    box-shadow: 0px 0px 14px rgb(0 0 0 / 2%), 0px -4px 20px rgb(0 0 0 / 10%);
    padding: 1.5rem 1rem 0 1rem;
    background: var(--bg-color-light-theme);
    color: var(--color-light-on-background-theme);
    border-radius: 24px 24px 0px 0px;
    font-weight: 600;
    font-size: 22px;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    ion-icon {
      color: rgba(0, 30, 46, 0.6);
    }
  }

  .tx-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: rgba(0, 30, 46, 0.6);
    .status {
      max-width: 75px;
      margin-top: 0;
      font-size: 12px;
      padding: 3px;
      background: linear-gradient(
          0deg,
          rgba(0, 101, 141, 0.08),
          rgba(0, 101, 141, 0.08)
        ),
        #fafafb;
      text-align: center;
      border-radius: 5px;
    }
    .date {
      margin: 0;
      font-size: 12px;
    }
  }

  ion-infinite-scroll {
    background: var(--bg-color-light-theme);
  }
}
