<ion-header class="bp-header">
  <ion-toolbar class="toolbar-desktop" translucent *ngIf="!this.platformProvider.isCordova">
    <div class="header-container-desktop">
      <img class="logo-abcpay" src="../../../assets/img/abcpay-logo.svg" alt="">
      <img src="../../../assets/img/abcpay-text.svg" alt="">
    </div>
  </ion-toolbar>
  <ion-toolbar [ngClass]="{'add-box-shadow-scroll': isScroll}">
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline" (click)="handleNavigateBack()" defaultHref='/'></ion-back-button>
    </ion-buttons>
    <ion-title>
      <div [reveal-at-scroll-pos]="(expandableHeader.headerHeight + 200)" [scrollArea]="scrollArea">
        {{wallet?.name}}
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content scrollEvents="true" forceOverflow="false" #scrollArea [fixed-scroll-bg-color]="backgroundColor" (ionScroll)="handleScrolling($event)">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullMin="90" pullMax="160">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="wrapper" [ngClass]="{'grid-wrapper': shouldShowZeroState()}">
    <expandable-header class="balance-card" [scrollArea]="scrollArea" #expandableHeader>
      <expandable-header-primary class="balance-header">

        <div *ngIf="wallet?.network == 'testnet'" class="top-notification warning">
          <a class="energized"
            (click)="openExternalLink('https://support.bitpay.com/hc/en-us/articles/360004102011-What-is-testnet-How-do-I-avoid-testnet-Bitcoin-scams-')">
            {{'Learn more about testnet blockchain' | translate}}
            <ion-icon name="chevron-forward"></ion-icon>
          </a>
        </div>

        <div *ngIf="lowUtxosWarning && wallet?.network == 'livenet'" class="top-notification warning">
          <a class="energized" (click)="openAddresses()">
            {{'Spending this balance will need significant Bitcoin network fees'|translate}}
            <ion-icon name="chevron-forward"></ion-icon>
          </a>
        </div>

        <!-- wallet card -->
        <wallet-detail-card [wallet]="wallet" [walletNotRegistered]="walletNotRegistered">
        </wallet-detail-card>

        <div class="balance-scanning" *ngIf="!updateStatusError && wallet?.scanning">
          <div>
            <span class="title" translate>[Scanning Funds]</span>
            <div translate>
              Please wait...
            </div>
          </div>
        </div>

        <div class="balance-spendable" (click)="openBalanceDetails()"
          *ngIf="!wallet?.balanceHidden && !wallet?.scanning && !updateStatusError && showBalanceButton">
          <span>{{ 'Available:' | translate}}</span>
          &nbsp;
          <strong>
            {{wallet?.cachedStatus.spendableBalanceStr}}
          </strong>
          &nbsp;
          <ion-icon name="help-circle"></ion-icon>
        </div>

        <div class="balance-error" *ngIf="updateStatusError">
          <div>
            <span ion-text color="warning">{{wallet?.error}}</span>
          </div>
        </div>

        <div class="balance-error" *ngIf="walletNotRegistered">
          <div translate>
            This account is not registered at the given AbcPros Wallet Service (AWS). As an advice, you could delete the
            key, under settings and selecting the specific key, and then use the Backup to import the account again
            (under Home > Wallet Tab).
          </div>
        </div>
      </expandable-header-primary>
      <expandable-header-footer>
        <div class="action-buttons"
          [ngClass]="{'two-actions': !showBuyCrypto && !showExchangeCrypto, 'no-margin': !wallet?.balanceHidden && !wallet?.scanning && !updateStatusError && showBalanceButton}">

          <div class="action-btn receive-btn" (click)="requestSpecificAmount()">
            <ion-button expand="block">
              <ion-icon slot="start" src="assets/img/wallet-details/ic-request-{{currentTheme}}.svg"></ion-icon>
              {{ 'Request' | translate }}
            </ion-button>
          </div>

          <div class="action-btn send-btn" (click)="goToSendPage()">
            <ion-button expand="block">
              <ion-icon slot="start" src="assets/img/wallet-details/ic-send-{{currentTheme}}.svg"></ion-icon>
              {{ 'Send' | translate }}
            </ion-button>
          </div>

        </div>
        <!-- TODO: temporary hide the donation feature. Later, adding feature in settings to disable / enable this feature -->
        <!-- <div *ngIf="isShowDonationBtn" class="donate-card">
          <div class="donate-title" (click)="handleDonation()">
            <img src="assets/img/logo-donate-card-{{currentTheme}}.svg" alt="">
            <span>{{ 'Support Lotus with the Donation Program' | translate}}</span>
          </div>

          <div class="donate-info" (click)="openLink('https://givelotus.org')">
            <img src="assets/img/wallet-details/wallet-info-{{currentTheme}}.svg" alt="">
          </div>
        </div> -->
      </expandable-header-footer>
    </expandable-header>
    <ion-list *ngIf="wallet && wallet?.isComplete() && !walletNotRegistered && txps && txps[0]"
      class="tx-history tx-history-multisign">
      <ion-item-divider *ngIf="wallet?.incorrectDerivation">
        <ion-label class="tx-history-header-label">
          <span translate>
            WARNING: Key derivation is not working on this device/wallet?. Actions cannot be performed on this wallet?.
          </span>
        </ion-label>
      </ion-item-divider>
      <ion-item-divider class="tx-history-header tx-history-header--large" (click)="openProposalsNotificationsPage()">
        <div class="item-tx-history">
          <div class="custom-left-part">
            <ion-label slot="start" class="tx-history-header-label">
              <span *ngIf="requiresMultipleSignatures" translate>Pending Proposals</span>
              <span *ngIf="!requiresMultipleSignatures" translate>Unsent transactions</span>
            </ion-label>
            <ion-badge class="custom-txps-number" *ngIf="txps.length > 0">
              {{txps.length}}
            </ion-badge>
          </div>
          <ion-button class="detail-btn" fill="clear" slot="end">
            <ion-icon slot="icon-only" src="assets/img/chevron-right-{{currentTheme}}.svg"></ion-icon>
          </ion-button>
        </div>
      </ion-item-divider>
      <div *ngFor="let txp of txpsPending;  let i=index">
        <page-txp *ngIf="i<=2" [tx]="txp" [addressbook]="addressbook"></page-txp>
      </div>
      <ion-item *ngIf="wallet?.cachedStatus && wallet?.cachedStatus.lockedBalanceSat" class="locked-balance">
        <ion-label slot="start">
          <img src="assets/img/wallet-details/wallet-lock-{{currentTheme}}.svg" alt="">
          <div class="pending-amount">
            <span class="total-locked-amount">{{wallet?.cachedStatus.lockedBalanceStr}}</span>
            <div class="total-alt-locked-amount">{{wallet?.cachedStatus.lockedBalanceAlternative}}
              {{wallet?.cachedStatus.alternativeIsoCode}}</div>
          </div>
        </ion-label>
        <ion-note slot="end">
          <img (click)="openBalanceDetails()" src="assets/img/wallet-details/wallet-info-{{currentTheme}}.svg" alt="">
        </ion-note>
      </ion-item>
    </ion-list>

    <!-- Transactions -->


    <div class="prompt-user activity-fix white-card" *ngIf="shouldShowZeroState()">
      <div class="title-icon larger-icon" *ngIf="!wallet?.credentials.multisigEthInfo">
        <img
          *ngIf="wallet.coin === 'xrp' && wallet.cachedStatus && !wallet.cachedStatus.lockedBalanceSat; else ghostTongue"
          width="42" src="assets/img/icon-warning-circled.svg" />
        <ng-template #ghostTongue>
          <img *ngIf="wallet.coin === 'xpi'" src="assets/img/wallet-details/pond-{{currentTheme}}.svg">
          <img *ngIf="wallet.coin !== 'xpi'" src="assets/img/wallet-details/ghost-{{currentTheme}}.svg">
        </ng-template>
      </div>
      <div class="title-info">
        <span translate
          *ngIf="wallet?.coin === 'xrp' && wallet?.cachedStatus && !wallet?.cachedStatus.lockedBalanceSat; else ghostTown">XRP
          Minimum Balance</span>
        <ng-template #ghostTown>
          <span translate
            *ngIf="!wallet?.credentials.multisigEthInfo && wallet.coin !== 'doge' && wallet.coin !== 'xpi'">It's a ghost
            town in here</span>
          <span translate *ngIf="!wallet?.credentials.multisigEthInfo && wallet.coin === 'xpi'">It's an empty pond
            here</span>
          <span translate *ngIf="!wallet?.credentials.multisigEthInfo && wallet.coin === 'doge' ">A dog without funds is
            a sad dog</span>
          <span translate *ngIf="wallet?.credentials.multisigEthInfo">Join more Copayers</span>
        </ng-template>
      </div>
      <div class="subtitle-info">
        <span translate
          *ngIf="wallet?.coin === 'xrp' && wallet?.cachedStatus && !wallet?.cachedStatus.lockedBalanceSat; else noFunds">
          The XRP ledger requires that all wallets maintain a minimum balance of 20 XRP. This non-refundable 20 XRP will
          remain permanently locked in your wallet. Please first deposit no less than 20 XRP to activate your wallet.
        </span>
        <ng-template #noFunds>
          <span translate *ngIf="!wallet?.credentials.multisigEthInfo">
            If you have funds stored on a website then you should move them into a secure wallet... like this one!
          </span>
          <span translate *ngIf="wallet?.credentials.multisigEthInfo">
            Share this invitation with the Copayers who join this wallet.
          </span>
        </ng-template>
      </div>
      <div class="qr-container" *ngIf="wallet?.credentials.multisigEthInfo">
        <div *ngIf="wallet?.credentials.multisigEthInfo.multisigContractAddress" class="card qr-card"
          copy-to-clipboard="{{ wallet.credentials.multisigEthInfo.multisigContractAddress }}">
          <ngx-qrcode hide-toast="true" value="{{ wallet.credentials.multisigEthInfo.multisigContractAddress }}"
            cssClass="aclass" [errorCorrectionLevel]="typeErrorQr.MEDIUM"></ngx-qrcode>
        </div>
      </div>
    </div>

    <div class="middle-message white-card" *ngIf="updateTxHistoryError" translate>
      Could not update transaction history
    </div>

    <div class="middle-message" *ngIf="updatingTxHistory && (!history[0] || updatingTxHistoryProgress>4)">
      <span translate>Updating transaction history. Please stand by.</span>

      <span translate *ngIf="updatingTxHistoryProgress>4">{{updatingTxHistoryProgress}} transactions downloaded</span>
    </div>

    <ng-container *ngIf="history && history[0]">
      <div class="header-transaction" translate>
        Transaction History
        <ion-icon (click)="openSearchModal()" name="search-sharp"></ion-icon>
      </div>
      <ion-list class="tx-history">
        <ion-item-group *ngFor="let group of groupedHistory; trackBy: trackByFn; let i = index;">

          <ion-item-divider (click)="viewOnBlockchain()" sticky class="tx-history-header">
            <ion-label>
              <!-- TODO language translate: add month calendar to Vietnamese -->
              <span *ngIf="isDateInCurrentMonth(getDate(group[0].time))">{{ 'Recent' | translate }} </span>
              <span *ngIf="!isDateInCurrentMonth(getDate(group[0].time))">{{getDate(group[0].time) |
                amDateFormat:'MMMM'}}</span>
            </ion-label>
          </ion-item-divider>

          <div class="item-wrapper" *ngFor="let tx of group; trackBy: trackByFn; let i = index">

            <ion-item button detail="false" (click)="itemTapped(tx)"
              [ngClass]="{'warning-background': canSpeedUpTx(tx), 'danger-background': tx.hasUnconfirmedInputs || tx.isRBF}">

              <div class="action">
                <div class="amount">
                  <ng-container *ngIf="tx.action != 'invalid'">
                    <span *ngIf="tx.action == 'received'"
                      [ngClass]="{'received': tx.action == 'received' || tx.action == 'mined' || tx.action == 'immature' , 'sent' : tx.action == 'sent','pending' : tx.confirmations <= 0}">+</span>
                    <span *ngIf="tx.action == 'sent'"
                      [ngClass]="{'received': tx.action == 'received' || tx.action == 'mined' || tx.action == 'immature' , 'sent' : tx.action == 'sent','pending' : tx.confirmations <= 0}">-</span>

                    <span *ngIf="!tx.isSlpToken"
                      [ngClass]="{'received': tx.action == 'received' || tx.action == 'mined' || tx.action == 'immature', 'sent' : tx.action == 'sent','pending' : tx.confirmations <= 0}">
                      {{tx.amount | satToUnit: wallet?.coin}}</span>

                    <span *ngIf="tx.isSlpToken"
                      [ngClass]="{'received': tx.action == 'received' || tx.action == 'mined' || tx.action == 'immature', 'sent' : tx.action == 'sent','pending' : tx.confirmations <= 0}">
                      {{formatTxAmount(tx.amountToken) + ' ' + tx.symbolToken}}</span>
                  </ng-container>
                  <ng-container *ngIf="tx.action == 'invalid'">
                    <span class="double-spend" translate>(possible double spend)</span>
                  </ng-container>
                </div>

                <ng-container *ngIf="tx.action == 'mined' || tx.action == 'immature' ">
                  <span class="tx-action">From : Coinbase</span>
                </ng-container>

                <ng-container *ngIf="tx.action == 'received'">
                  <ng-container *ngIf="tx.inputAddresses && tx.inputAddresses[0]">
                    <span class="tx-action"
                      *ngIf="(!addressbook || !tx.inputAddresses[0] || !getContactName(tx.inputAddresses[0]))">{{'From:
                      {address}' | translate: {address: tx.inputAddresses[0].slice(-8)} }}</span>
                    <span class="tx-action"
                      *ngIf="addressbook && tx.inputAddresses[0] && getContactName(tx.inputAddresses[0])">
                      {{'From: ' + getContactName(tx.inputAddresses[0])| translate}}
                    </span>
                  </ng-container>

                  <ng-container *ngIf="!tx.inputAddresses || !tx.inputAddresses[0]">
                    <span class="tx-action">{{ 'From : unknown sender' | translate }}</span>
                  </ng-container>

                </ng-container>
                <ng-container *ngIf="tx.action == 'sent'">
                  <span class="tx-action"
                    *ngIf="(!tx.note || (tx.note && !tx.note.body)) && (!addressbook || !tx.outputs[0] || !getContactName(tx.outputs[0].address)) && (!tx.customData || !tx.customData.toWalletName)">{{'To:
                    {address}' | translate: {address: tx.addressTo.slice(-8)} }}</span>
                  <span class="tx-action"
                    *ngIf="(!tx.note || (tx.note && !tx.note.body)) && (!addressbook || !tx.outputs[0] || !getContactName(tx.outputs[0].address)) && (tx.customData && tx.customData.toWalletName)">
                    {{ 'To: {walletName}' | translate: {walletName: tx.customData.toWalletName} | translate}}
                  </span>
                  <span class="tx-action"
                    *ngIf="addressbook && tx.outputs[0] && getContactName(tx.outputs[0].address)">
                    {{'To: ' + getContactName(tx.outputs[0].address) | translate}}
                  </span>
                </ng-container>

                <span *ngIf="tx.message" class="memo">{{tx.message}}</span>
              </div>

              <ion-note slot="end" class="ion-text-end ion-no-margin ion-no-padding">
                <div class="tx-info">
                  <ng-container *ngIf="tx.confirmations <= 0">
                    <p class="status" *ngIf="tx.action == 'sent'">{{'Pending'| translate}}</p>
                    <p class="status" *ngIf="tx.action == 'moved'">{{'Moving'| translate}}</p>
                    <p class="status" *ngIf="tx.action == 'received'">{{'Pending' | translate}}</p>
                  </ng-container>
                  <ng-container *ngIf="tx.confirmations > 0">
                    <p class="status" *ngIf="tx.action == 'invalid'">Invalid</p>
                    <p class="status" *ngIf="tx.action == 'moved'">Sent to self</p>
                  </ng-container>
                  <p class="status" *ngIf="tx.isGenesis">Genesis</p>
                  <p class="status" *ngIf="tx.action == 'mined'">Mined</p>
                  <p class="status" *ngIf="tx.action == 'immature'">Immature</p>
                  <!-- TODO language translate: need to convert datetime to Vietnamese -->
                  <p class="date" *ngIf="tx.time && createdWithinPastDay(tx.time * 1000)">{{converDate(tx.time * 1000) |
                    amTimeAgo}}</p>
                  <p class="date" *ngIf="tx.time && !createdWithinPastDay(tx.time * 1000)">{{tx.time * 1000 |
                    amDateFormat:'MM/DD/YYYY'}}</p>
                </div>
              </ion-note>
            </ion-item>
          </div>
        </ion-item-group>
      </ion-list>
    </ng-container>

    <ion-infinite-scroll (ionInfinite)="loadHistory($event)" *ngIf="!shouldShowZeroState()">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>