encrypt-password {
  action-sheet {
    .action-sheet-bottom {
      border-radius: 0px !important;
      background: var(--bg-color-light-theme) !important;
      display: grid;
      padding-top: 3rem; // Fix iOS 10.3
      padding-top: calc(4px + env(safe-area-inset-top));
      .encrypt-password {
        height: 100%;
        display: grid;
        grid-template-rows: 80% 20%;
        .info-encrypt {
          padding: 1rem 2rem;
          text-align: center;
          color: rgba(0, 30, 46, 0.6);
          font-size: 14px;
          line-height: 20px;
          @media (max-height: 568px) {
            padding: 1rem;
          }
        }
        .encrypt-password-form {
          display: grid;
          grid-template-rows: max-content max-content max-content;
          .slide-title {
            margin-top: 4rem;
            display: flex;
            flex-direction: column;
            align-self: center;
            align-items: center;
            @media (max-height: 568px) {
              margin-top: 1rem;
            }
            img {
              width: 120px;
              height: 120px;
            }
            h3 {
              font-weight: 600;
              margin-top: 2rem;
              color: black;
              @media (max-height: 568px) {
                margin-top: 1rem;
                margin-bottom: 0;
              }
            }
          }
          form {
            margin-top: 2rem;
            width: 90%;
            align-self: end;
            justify-self: center;
            @media (max-height: 568px) {
              margin-top: 0;
            }
            ion-item {
              margin-bottom: 2rem;
              border: 2px solid rgba(28, 55, 69, 0.38);
              border-radius: 4px;
              --background: linear-gradient(
                  0deg,
                  rgba(0, 101, 141, 0.11),
                  rgba(0, 101, 141, 0.11)
                ),
                #fafafb;
              --padding-start: 1rem !important;
              --padding-end: 1rem;
              --inner-padding-end: 0;
              --inner-padding-top: 14px;
              --inner-padding-bottom: 14px;
              ion-input {
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.5px;
                --padding-top: 0;
                --padding-bottom: 0;
              }
              ion-button {
                margin: 0;
                ion-icon {
                  color: rgba(28, 55, 69, 0.6);
                  width: 22px;
                  height: 22px;
                  &[name='alert'] {
                    color: var(--color-danger);
                  }
                }
              }
              &.error-message {
                border: 0 !important;
                padding: 0;
                --inner-padding-top: 0;
                ion-text {
                  color: #ba1b1b;
                  font-size: 12px;
                  padding-left: 1rem;
                }
              }
            }
            .confirm-passphrase-container {
              margin-top: 47px;
            }
            .mat-form-field-suffix {
              top: -12px !important;
            }
            mat-form-field {
              @media (max-height: 568px) {
                padding: 0;
                &.confirm-passphrase-container {
                  margin-top: 1rem;
                }
              }
              ion-button {
                height: 1rem;
                --padding-end: 0;
              }
            }
          }
        }
      }
      .footer {
        height: 76px;
        margin-bottom: 1rem;
        align-self: end;
      }
    }
    .bp-header {
      background: unset;
    }
  }

  action-sheet {
    .action-sheet-bottom {
      border-radius: 28px 28px 0px 0px !important;
      .encrypt-password-small {
        padding: 24px !important;
        display: flex;
        flex-direction: column;
        .encrypt-password-form {
          .slide-title {
            h3 {
              font-weight: 400;
              font-size: 24px;
              line-height: 32px;
              color: #1c3745;
              margin: 0;
            }
          }
          .info-encrypt {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.25px;
            color: rgba(28, 55, 69, 0.6);
            margin: 1rem 0;
          }
          ion-item {
            margin-bottom: 2rem;
            border: 2px solid rgba(28, 55, 69, 0.38);
            border-radius: 4px;
            --background: linear-gradient(
                0deg,
                rgba(0, 101, 141, 0.11),
                rgba(0, 101, 141, 0.11)
              ),
              #fafafb;
            --padding-start: 1rem !important;
            --padding-end: 1rem;
            --inner-padding-end: 0;
            --inner-padding-top: 4px;
            --inner-padding-bottom: 4px;
            ion-input {
              font-size: 16px;
              line-height: 24px;
              letter-spacing: 0.5px;
            }
            ion-button {
              margin: 0;
              ion-icon {
                color: rgba(28, 55, 69, 0.6);
                width: 22px;
                height: 22px;
              }
            }
            &.confirm-item {
              margin-bottom: 0;
            }
            &.wrong-confirm-password {
              border-color: var(--color-danger);
            }
          }
          ion-text {
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.4px;
            margin-left: 1rem;
          }
        }
        .submit-btn {
          margin-top: 2rem;
          align-self: end;
          color: var(--color-primary);
          font-weight: 600;
          font-size: 14px;
          line-height: 20px;
          &[disabled] {
            color: rgba(28, 55, 69, 0.38) !important;
            --background: transparent !important;
          }
        }
      }
    }
  }
}
