<action-sheet>
  <ion-header *ngIf="!this.platform.is('cordova')" [translucent]="true" class="bp-header">
    <ion-toolbar class="toolbar-desktop" *ngIf="!this.platform.is('cordova')">
      <div class="header-container-desktop">
        <img class="logo-abcpay" src="../../../assets/img/abcpay-logo.svg" alt="">
        <img src="../../../assets/img/abcpay-text.svg" alt="">
      </div>
    </ion-toolbar>
  </ion-header>
  <div *ngIf="!params?.isEncryptPasswordSmall" class="encrypt-password">
    <div class="encrypt-password-form">
      <div class="slide-title">
        <img src="assets/img/onboarding/add-cryption-{{currentTheme}}.svg" />
        <h3>
          {{'Add Encryption' | translate}}
        </h3>
      </div>
      <div class="info-encrypt">
        {{'An encrypted passphrase is an extra layer of security that can prevent hackers from accessing your cryptocurrency if this device were ever stolen or compromised by malicious software.' | translate }}
      </div>
      <form [formGroup]="encryptPasswordForm">
        <mat-form-field appearance="outline">
          <mat-label translate>{{'Encrypted passphrase' | translate}}</mat-label>
          <input matInput [type]="passwordInputType" formControlName="password" [placeholder]="'Encrypted passphrase' | translate">
          <ion-button matSuffix fill="clear" slot="end" (click)="passwordInputType = (passwordInputType === 'password') ? 'text' : 'password'">
            <ion-icon [name]="(passwordInputType == 'password') ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
          </ion-button>
        </mat-form-field>
        <mat-form-field class="confirm-passphrase-container" appearance="outline">
          <mat-label translate>{{'Confirm passphrase' | translate}}</mat-label>
          <input matInput [type]="confirmPasswordInputType" formControlName="confirmPassword" [placeholder]="'Confirm passphrase' | translate">
          <ion-button matSuffix fill="clear" slot="end" (click)="confirmPasswordInputType = (confirmPasswordInputType === 'password') ? 'text' : 'password'">
            <ion-icon [name]="(confirmPasswordInputType == 'password') ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
          </ion-button>
        </mat-form-field>
        <ion-item class="ion-no-margin error-message" *ngIf="encryptPasswordForm.controls.confirmPassword.touched && encryptPasswordForm.hasError('mismatchedPasswords') && encryptPasswordForm.controls.password.valid" lines="none">
          <ion-text translate>Passphrases do not match</ion-text>
        </ion-item>
      </form>
    </div>
    <div class="footer">
      <ion-button  type="submit" class="button-standard ion-no-margin-bottom" [disabled]="!encryptPasswordForm.valid" (click)="confirm(encryptPasswordForm.value.password)">
        {{'Save & Continue' | translate}}
      </ion-button>
      <ion-button fill="clear" class="button-standard" (click)="skipEncryptPass()">
        {{'Never mind' | translate}}
      </ion-button>
    </div>
  </div>

  <div *ngIf="params?.isEncryptPasswordSmall" class="encrypt-password-small">
    <div class="encrypt-password-form">
      <div class="slide-title">
        <h3>
          {{'Request Encrypt Password' | translate}}
        </h3>
      </div>
      <!-- TODO language translate: require handle translate-->
      <div class="info-encrypt" translate="">
        Your account key will be encrypted.<span class="text-danger" translate> The encrypt password cannot be recovered.</span> Be sure to write it down
      </div>
      <form [formGroup]="encryptPasswordForm">
        <ion-item lines="none" class="ion-no-margin">
          <ion-input [placeholder]="'Enter a new encrypt password' | translate" [type]="passwordInputType" formControlName="password"></ion-input>
          <ion-button fill="clear" slot="end" (click)="passwordInputType = (passwordInputType === 'password') ? 'text' : 'password'">
            <ion-icon [name]="(passwordInputType == 'password') ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item [ngClass]="{'wrong-confirm-password': encryptPasswordForm.controls.confirmPassword.touched && encryptPasswordForm.hasError('mismatchedPasswords') && encryptPasswordForm.controls.password.valid}" lines="none" class="confirm-item ion-no-margin">
          <ion-input [placeholder]="'Retype encrypt password' | translate" [type]="confirmPasswordInputType" formControlName="confirmPassword"></ion-input>
          <ion-button fill="clear" slot="end" (click)="confirmPasswordInputType = (confirmPasswordInputType === 'password') ? 'text' : 'password'">
            <ion-icon [name]="(confirmPasswordInputType == 'password') ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-text *ngIf="encryptPasswordForm.controls.confirmPassword.touched && encryptPasswordForm.hasError('mismatchedPasswords') && encryptPasswordForm.controls.password.valid" color="danger" translate>Password unmatched!</ion-text>
      </form>
    </div>
    <ion-button fill="clear" type="submit" class="submit-btn" [disabled]="!encryptPasswordForm.valid" (click)="confirm(encryptPasswordForm.value.password)">
      {{'Save' | translate}}
    </ion-button>
  </div>
</action-sheet>