<wide-header-page title="{{ title }}">
  <div page-content #content>
    <div class="import-part-custom" [attr.padding]="isIOS ? '' : null">
      <ion-segment mode="md" [(ngModel)]="selectedTab" color="primary" (ionChange)="selectTab(selectedTab)"
        [ngClass]="{'remove-padding-bottom': selectedTab !== 'words'}">
        <ion-segment-button value="words">
          {{ 'Recovery Phrase' | translate }}
        </ion-segment-button>
        <ion-segment-button value="file">
          {{ 'File/Text' | translate }}
        </ion-segment-button>
      </ion-segment>
    </div>

    <form [formGroup]="importForm">
      <ion-list lines="none" *ngIf="selectedTab == 'words'">
        <mat-form-field appearance="outline">
          <mat-label>{{ 'Recovery Phrase' | translate }}</mat-label>
          <textarea matInput formControlName="words" [value]="importForm.value.words" autocapitalize="none" rows="6" 
          [placeholder]="'Enter your recovery phrase (12 words) in the correct order. Separate each word with a single space only (no commas or any other punctuation).' | translate" #textarea>
          </textarea>
          <mat-icon (click)="openScanner()" matSuffix>
            <img src="assets/img/recipient-component/qr-{{currentTheme}}.svg">
          </mat-icon>
        </mat-form-field>
      </ion-list>

      <ion-list lines="none" class="file-ion-list-custom" *ngIf="selectedTab == 'file'">
        <ion-item class="hide-border file-ion-item-custom" *ngIf="!isSafari && !isCordova">
          <ion-input class="upload-hidden" type="file" accept="json" [(ngModel)]="formFile"
            (change)="fileChangeEvent($event)" formControlName="file"></ion-input>
          <div item-content class="upload-ui">
            <div class="empty-message">{{'Choose a backup file from your computer' | translate}}&hellip;</div>
            <div class="filled-message">{{prettyFileName}}</div>
          </div>
        </ion-item>

        <mat-form-field *ngIf="isSafari || isCordova" appearance="outline">
          <mat-label translate>Backup plain text code</mat-label>
          <input matInput type="text" formControlName="backupText" [value]="importForm.value.backupText" [placeholder]="'Paste here'" translate>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label translate>Password</mat-label>
          <input matInput type="password" formControlName="filePassword" [placeholder]="'Password' | translate">
        </mat-form-field>
      </ion-list>

      <ion-button size="large" slot="start" class="advance-button" (click)="handleClickAdvanceOption()"
        [ngClass]="{'open-advance': showAdvOpts}">
        <ng-container *ngIf="!showAdvOpts; else elseBlock">
          <span>{{'Advanced options' | translate}}</span>
          <ion-icon slot="end" src="assets/img/chevron-down-{{currentTheme}}.svg"></ion-icon>
        </ng-container>
        <ng-template #elseBlock>
          <span *ngIf="showAdvOpts">{{'Advanced options' | translate}}</span>
          <ion-icon slot="end" src="assets/img/chevron-up-{{currentTheme}}.svg"></ion-icon>
        </ng-template>
      </ion-button>

      <div *ngIf="showAdvOpts" class="line-divider"></div>

      <div class="show-advance-option stroke-card" *ngIf="showAdvOpts">
        <ion-list class="account-service-list" lines="none">
          <mat-form-field appearance="outline">
            <mat-label translate>Wallet Service URL</mat-label>
            <input matInput type="text" formControlName="bwsURL" [placeholder]="'Wallet Service URL'" translate>
          </mat-form-field>
        </ion-list>

        <div *ngIf="selectedTab == 'words'" class="line-divider line-divider-inside-top"></div>

        <ion-list class="final-list-custom" lines="none" *ngIf="selectedTab == 'words'">
          <ion-item>
            <ion-label>{{'Specify derivation path' | translate}}</ion-label>
            <ion-toggle formControlName="derivationPathEnabled" (ionChange)="changeDerivationPathValidators();">
            </ion-toggle>
          </ion-item>

          <ion-item class="item-select" *ngIf="importForm.value.derivationPathEnabled">
            <ion-label>{{'Coin' | translate}}</ion-label>
            <ion-select okText="{{okText}}" cancelText="{{cancelText}}" formControlName="coin"
              (ionChange)="setDerivationPath($event)">
              <div *ngFor="let coin of availableCoins">
                <ion-select-option value="{{coin}}"> {{ getCoinName(coin) }} ({{ coin.toUpperCase() }})
                </ion-select-option>
              </div>
            </ion-select>
          </ion-item>
          <ion-item class="token-path-item" *ngIf="isShoweTokenPath">
            <ion-label translate>
              eToken Path
            </ion-label>
            <ion-toggle (ionChange)="setDerivationPathForXpiSlpToken($event)"></ion-toggle>
          </ion-item>

          <mat-form-field class="derivation-item" appearance="outline">
            <mat-label translate>Derivation path</mat-label>
            <input matInput type="text" formControlName="derivationPath" [placeholder]="'Derivation path' | translate">
          </mat-form-field>

          <ion-item class="shared-account-item"
            *ngIf="importForm.value.derivationPathEnabled && importForm.value.derivationPath === this.derivationPathHelperProvider.defaultBTC">
            <ion-label>{{'Shared Account' | translate}}</ion-label>
            <ion-toggle formControlName="isMultisig"></ion-toggle>
          </ion-item>

          <div *ngIf="importForm.value.derivationPathEnabled && importForm.value.derivationPath === this.derivationPathHelperProvider.defaultBTC" class="line-divider line-divider-inside-bottom"></div>

          <mat-form-field [ngClass]="{'item-margin-top': !(importForm.value.derivationPathEnabled && importForm.value.derivationPath === this.derivationPathHelperProvider.defaultBTC)}" appearance="outline">
            <mat-label translate>Password</mat-label>
            <input matInput type="password" formControlName="passphrase" [placeholder]="'Password' | translate">
          </mat-form-field>
          <mat-hint>{{'This to protect the recovery phrase. This field is not used for your encrypt password' | translate}}</mat-hint>

        </ion-list>
      </div>
    </form>
  </div>

  <div footer-content>
    <ion-toolbar>
      <ion-button class="button-standard" (click)="import()" [disabled]="!importForm.valid">{{'Import' | translate}}
      </ion-button>
    </ion-toolbar>
  </div>
</wide-header-page>