token-details {
  --icon-width: 36px;

  .grid-wrapper {
    display: grid;
    grid-template-rows: max-content 2fr;
  }

  .wrapper {
    padding-bottom: 0 !important;
    min-height: 100%;
    background: linear-gradient(0deg, rgba(0, 93, 141, 0.05), rgba(0, 93, 141, 0.05)), #FAFAFB !important;
  }

  .balance-header {
    position: relative;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .balance-spendable {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    font-size: 13px;
    cursor: pointer;

    ion-icon {
      width: 20px;
      height: 20px;
    }
  }

  .white-card {
    background: white;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(0deg, rgba(0, 93, 141, 0.05), rgba(0, 93, 141, 0.05)), #FAFAFB;
    box-shadow: 0px 0px 14px rgb(0 0 0 / 2%), 0px -4px 20px rgb(0 0 0 / 10%);
    border-radius: 24px 24px 0px 0px;
  }

  .action-buttons {
    transform: inherit;
    opacity: inherit;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    &.no-margin {
      margin-top: 0 !important;
    }
    &.two-actions {
      justify-content: space-around;
    }

    .action-btn {
      text-align: center;
      cursor: pointer;
      &.send-btn {
        padding-left: 0.5rem;
      }
      &.receive-btn {
        padding-right: 0.5rem;
      }
      ion-button {
        --border-radius: 1rem;
        font-size: 14px;
        font-weight: 600;
        ion-icon {
          margin-right: 0.5rem;
          font-size: 20px;
        }
      }
    }
  }

  .warning-background {
    background-color: var(--ion-color-warning);
  }

  .danger-background {
    background-color: var(--ion-color-danger);
  }

  .middle-message {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .tx-history {
    .tx-history-header {
      height: 3rem;
      border-bottom: 0;

      .ng-star-inserted {
        font-size: 11px;
        font-weight: 600;
        color: rgba(28, 55, 69, 0.6);
        letter-spacing: 0.5px;
      }

      &.item {
        padding-left: 1rem;
        min-height: 26px;
        background: var(--bg-color-light-theme);
        ion-label {
          margin: 0;
          font-size: 11px;
          text-transform: uppercase;
          color: rgba(28, 55, 69, 0.6);
        }
      }

      &--large {
        background: #FAFAFB !important;
        --inner-padding-end: 0;
        padding: 1rem 1rem 0 1rem;
        height: auto !important;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        .tx-history-header-label {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          text-transform: none !important;
          font-size: 16px !important;
          color: #001E2E;
          .label-multisign {
            text-transform: none;
            color: rgba(0, 30, 46, 0.6);
            font-size: 14px;
            .num-credentials {
              color: #f8b95d;
            }
          }
        }

        .accept-btn {
          --background: transparent;
          --color: var(--color-primary);
          border: 1px solid #70818a;
          border-radius: 20px;
          min-width: 120px;
          height: 35px;
          font-size: 14px;
          font-weight: 600;
        }

        .item-tx-history {
          width: 100%;
          display: flex;
          border-bottom: 1px solid #e4e7e9;
          padding-bottom: 10px;
        }

      }

      ion-label {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

    }

    .txps-badge {
      margin-right: 2rem;
      ion-badge {
        --background: unset;
      }
    }

    ion-item {
      --color-activated: none;
      --inner-padding-bottom: 1rem;
      --inner-padding-end: 0;
      --padding-top: 1rem;
      --padding-start: 1rem;
      --padding-end: 1rem;
      font-size: 16px;
      --inner-border-width: 0;
      border: 1px solid #f4f4f4;
      border-left: 0;
      border-right: 0;
      .item-icon {
        margin-right: 15px;
      }
    }

    img {
      width: var(--icon-width);
    }

    .action {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: flex;
      flex-direction: column;
      margin-right: 2rem;
      .memo {
        font-size: 14px;
        color: rgba(0, 30, 46, 0.6);
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        white-space: break-spaces;
        text-overflow: ellipsis;
        overflow: hidden;
    
      }
    }

    .amount {
      font-weight: 600;
      font-size: 16px;
      color: var(--ion-color-dark);

      .received {
        color: #37A372;
      }

      .sent {
        color: var(--color-danger);
      }

      .immature {
        color:#CCC1E9;
      }

      .pending {
        opacity: 0.38;
      }
    }

    .tx-action {
      font-size: 14px;
      margin: 0.5rem 0;
      letter-spacing: 0.4px;
    }

    .proposal-container {
      .item .item-inner {
        padding: 0 10px 0 0;
      }

      .date {
        margin-top: 0px;
      }
    }

    .item-img {
      img {
        width: 40px;
        height: 40px;
      }
    }

    .item-wrapper {
      margin-bottom: 0.5rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .header-transaction {
    box-shadow: 0px 0px 14px rgb(0 0 0 / 2%), 0px -4px 20px rgb(0 0 0 / 10%);
    padding: 1.5rem 1rem 0 1rem;
    background: var(--bg-color-light-theme);
    color: var(--color-light-on-background-theme);
    border-radius: 24px 24px 0px 0px;
    font-weight: 600;
    font-size: 22px;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    ion-icon {
      color: rgba(0, 30, 46, 0.6);
    }
  }

  .tx-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: rgba(0, 30, 46, 0.6);
    .status {
      max-width: 75px;
      margin-top: 0;
      font-size: 12px;
      padding: 3px;
      background: linear-gradient(0deg, rgba(0, 101, 141, 0.08), rgba(0, 101, 141, 0.08)), #FAFAFB;
      text-align: center;
      border-radius: 5px;
    }
    .date {
      margin: 0;
      font-size: 12px;
    }
  }
}