<ion-header class="bp-header">
  <ion-toolbar class="toolbar-desktop" translucent *ngIf="!this.platformProvider.isCordova">
    <div class="header-container-desktop">
      <img class="logo-abcpay" src="../../../assets/img/abcpay-logo.svg" alt="">
      <img src="../../../assets/img/abcpay-text.svg" alt="">
    </div>
  </ion-toolbar>
  <ion-toolbar [ngClass]="{'add-box-shadow-scroll': isScroll}">
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline" (click)="handleNavigateBack()" defaultHref='/'></ion-back-button>
    </ion-buttons>
    <ion-title>
      <div [reveal-at-scroll-pos]="(expandableHeader.headerHeight + 200)" [scrollArea]="scrollArea">
        {{token?.tokenInfo?.name}}
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [forceOverscroll]="true" scrollEvents="true" #scrollArea (ionScroll)="handleScrolling($event)">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullMin="90" pullMax="160">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="wrapper" [ngClass]="{'grid-wrapper': shouldShowZeroState()}">
    <expandable-header [scrollArea]="scrollArea" [fadeFactor]="1" [disableFade]="true" #expandableHeader>
      <expandable-header-primary class="balance-header">
        <!-- wallet card -->
        <wallet-detail-card [isToken]="true" [wallet]="wallet" [token]="token"></wallet-detail-card>
      </expandable-header-primary>
      <expandable-header-footer>
        <div class="action-buttons two-actions" >
          <div class="action-btn receive-btn" (click)="goToReceivePage()">
            <ion-button expand="block">
              <ion-icon slot="start" src="assets/img/wallet-details/ic-request-{{currentTheme}}.svg"></ion-icon>
              {{ 'Receive' | translate }}
            </ion-button>
          </div>

          <div class="action-btn send-btn" (click)="goToSendPage()">
            <ion-button expand="block">
              <ion-icon slot="start" src="assets/img/wallet-details/ic-send-{{currentTheme}}.svg"></ion-icon>
              {{ 'Send' | translate }}
            </ion-button>
          </div>

        </div>
      </expandable-header-footer>
    </expandable-header>
    <div class="prompt-user activity-fix white-card" *ngIf="!(history && history[0]) && !updateTxHistoryError && !(updatingTxHistory && (!history[0] || updatingTxHistoryProgress>4)) && isShowZeroState && shouldShowZeroState()">
      <div class="title-icon larger-icon">
        <img *ngIf="wallet.coin !== 'doge' && wallet.coin !== 'xpi'" src="assets/img/wallet-details/ghost-{{currentTheme}}.svg">
        <img *ngIf="wallet.coin === 'xpi'"
          [src]="selectedTheme === 'dark' ? 'assets/img/frog-dark.svg' : 'assets/img/frog-light.svg'">
      </div>
      <div class="title-info">
        <span translate
          *ngIf="!wallet?.credentials.multisigEthInfo && wallet.coin !== 'doge' && wallet.coin !== 'xpi'">It's
          a ghost
          town in here</span>
      </div>
      <div class="subtitle-info">
        <span translate>
          If you have funds stored on a website then you should move them into a secure wallet... like this one!
        </span>
      </div>
    </div>

    <div class="middle-message white-card" *ngIf="updateTxHistoryError" translate>
      Could not update transaction history
    </div>

    <div class="middle-message" *ngIf="updatingTxHistory && (!history[0] || updatingTxHistoryProgress>4)">
      <span translate>Updating transaction history. Please stand by.</span>
      <br>
      <span translate *ngIf="updatingTxHistoryProgress>4">{{updatingTxHistoryProgress}} transactions downloaded</span>
    </div>

    <ng-container *ngIf="history && history[0]">
      <div  class="header-transaction">
        Transaction History
        <ion-icon (click)="openSearchModal()" name="search-sharp"></ion-icon>
      </div>

      <ion-list lines="none" class="tx-history">
        <ion-item-group *ngFor="let group of groupedHistory; trackBy: trackByFn; let i = index;">

          <ion-item-divider sticky class="tx-history-header">
            <ion-label>
              <span *ngIf="isDateInCurrentMonth(getDate(group[0].time))">{{ 'Recent' | translate }} </span>
              <span *ngIf="!isDateInCurrentMonth(getDate(group[0].time))">{{getDate(group[0].time) |
                amDateFormat:'MMMM'}}</span>
            </ion-label>
          </ion-item-divider>

          <div class="item-wrapper" *ngFor="let tx of group; trackBy: trackByFn; let i = index">
            <ion-item button detail="false" (click)="itemTapped(tx)" [ngClass]="{'danger-background': tx.hasUnconfirmedInputs || tx.isRBF}">
              <div class="action">
                <div class="amount">
                  <span *ngIf="tx.action == 'received'"
                    [ngClass]="{'received': tx.action == 'received' || tx.action == 'mined' || tx.action == 'immature' , 'sent' : tx.action == 'sent','pending' : tx.confirmations <= 0}">+</span>
                  <span *ngIf="tx.action == 'sent'"
                    [ngClass]="{'received': tx.action == 'received' || tx.action == 'mined' || tx.action == 'immature' , 'sent' : tx.action == 'sent','pending' : tx.confirmations <= 0}">-</span>
                  <span
                    [ngClass]="{'received': tx.action == 'received' || tx.action == 'mined' || tx.action == 'immature', 'sent' : tx.action == 'sent','pending' : tx.confirmations <= 0}">
                    {{formatTxAmount(tx.amountToken)}} {{tx.symbolToken}}</span>
                </div>
                <ng-container *ngIf="tx.action == 'received'">
                  <ng-container *ngIf="tx.inputAddresses && tx.inputAddresses[0]">
                    <span *ngIf="this.addressbook && getContactName(tx.inputAddresses[0]); else addressFrom" class="tx-action" >{{'From: ' + getContactName(tx.inputAddresses[0]) | translate }}</span>
                    <ng-template #addressFrom>
                      <span class="tx-action" >{{'From: {address}' | translate: {address: tx.inputAddresses[0].slice(-8)} }}</span>
                    </ng-template>
                  </ng-container>
                  <span *ngIf="!tx.inputAddresses || !tx.inputAddresses[0]" class="tx-action" >{{ 'From : unknown sender' | translate }}</span>
                </ng-container>

                <ng-container *ngIf="tx.action == 'sent' && tx.outputs[0].address !== 'false'">
                  <span class="tx-action" *ngIf="this.addressbook && getContactName(tx.addressTo); else addressTo">{{'To: ' + getContactName(tx.addressTo) | translate}}</span>
                  <ng-template #addressTo>
                    <span class="tx-action" >{{'To: {address}' | translate: {address: tx.addressTo.slice(-8)} }}</span>
                  </ng-template>
                </ng-container>

                <ng-container *ngIf="tx.action == 'sent' && tx.outputs[0].address === 'false'">
                  <span class="tx-action" *ngIf="this.addressbook && getContactName(tx.inputAddresses[0]); else addressTo2">{{'To: ' + getContactName(tx.inputAddresses[0]) | translate}}</span>
                  <ng-template #addressTo2>
                    <span class="tx-action">{{'To: {address}' | translate: {address: tx.inputAddresses[0].slice(-8)} }}</span>
                  </ng-template>
                </ng-container>

              </div>

              <ion-note slot="end" class="ion-text-end ion-no-margin ion-no-padding">
                <div class="tx-info">
                  <ng-container *ngIf="tx.confirmations <= 0 && (tx.action == 'sent' || tx.action == 'received')">
                    <p class="status" *ngIf="tx.outputs[0].address !== 'false' && !tx.isGenesis">{{'Pending'| translate}}</p>
                    <p class="status" *ngIf="tx.outputs[0].address === 'false' && !tx.isGenesis">{{'Moving'| translate}}</p>
                  </ng-container>
                  <ng-container *ngIf="tx.confirmations > 0">
                    <p class="status" *ngIf="tx.outputs[0].address === 'false' && !tx.isGenesis">{{'Sent to self'| translate}}</p>
                  </ng-container>
                  <p class="status" *ngIf="tx.isGenesis">{{'Genesis' | translate}}</p>
                  <p class="date" *ngIf="tx.time && createdWithinPastDay(tx.time * 1000)">{{converDate(tx.time * 1000) |
                    amTimeAgo}}</p>
                  <p class="date" *ngIf="tx.time && !createdWithinPastDay(tx.time * 1000)">{{tx.time * 1000 |
                    amDateFormat:'MM/DD/YYYY'}}</p>
                </div>
              </ion-note>

            </ion-item>
          </div>
        </ion-item-group>
      </ion-list>
    </ng-container>

    <ion-infinite-scroll (ionInfinite)="loadHistory($event)" *ngIf="!shouldShowZeroState()">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>